openapi: 3.0.1
info:
  title: Песочница открытых банковских API
  description: Песочница открытых банковских API
  termsOfService: 'http://swagger.io/terms/'
  contact:
    email: apiteam@st.by
  version: '1'
servers:
  - url: 'https://paymentapi.st.by:8243/open-banking/v1.0'
  - url: 'http://paymentapi.st.by:8280/open-banking/v1.0'
tags:
  - name: DomesticConsents
    description: Платежное указание на инициирование платежного поручения
  - name: DomesticPayments
    description: Платежное поручение
  - name: DomesticTaxConsents
    description: Платежное указание на инициирование налогового платежа
  - name: DomesticTaxes
    description: Налоговый платеж
  - name: ListAccountsConsents
    description: >-
      Платежное указание на инициирование платежного поручения со списком счетов
      физических лиц
  - name: ListAccounts
    description: Платежное поручение со списком счетов физических лиц
  - name: ListPassportsConsents
    description: >-
      Платежное указание на инициирование платежного поручения со списком без
      открытия счетов физических лиц
  - name: ListPassports
    description: Платежное поручение со списком без открытия счетов физических лиц
  - name: RequirementConsents
    description: Платежное указание на выставление платежного требования
  - name: Requirements
    description: Платежное требование
  - name: TaxRequirementConsents
    description: >-
      Платежное указание на выставление платежного требования на уплату налогов
      (других платежей в бюджет)
  - name: TaxRequirements
    description: Платежное требование на уплату налогов (других платежей в бюджет)
  - name: VRPConsents
    description: Платежное указание на инициирование рекуррентного платежа
  - name: VRP
    description: Рекуррентный платеж
  - name: ListPayments
    description: Список платежных указаний и список платежей Клиента
paths:
  /paymentConsents/domestic:
    post:
      tags:
        - DomesticConsents
      summary: Создание платежного указания на инициирование платежного поручения
      operationId: CreatePaymentConsents
      parameters:
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-idempotency-key'
        - $ref: '#/components/parameters/x-jws-signature'
        - $ref: '#/components/parameters/x-customer-user-agent'
        - $ref: '#/components/parameters/x-api-key'
      requestBody:
        description: Default
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/OBDomesticConsent'
          application/json:
            schema:
              $ref: '#/components/schemas/OBDomesticConsent'
          application/jose+jwe:
            schema:
              $ref: '#/components/schemas/OBDomesticConsent'
        required: true
      responses:
        '201':
          $ref: '#/components/responses/201PaymentConsents'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '415':
          $ref: '#/components/responses/415Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - default: []
      x-auth-type: None
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
  '/paymentConsents/domestic/{domesticConsentId}':
    get:
      tags:
        - DomesticConsents
      summary: >-
        Получение статуса платежного указания на инициирование платежного
        поручения
      operationId: GetPaymentConsentsByPaymentConsentId
      parameters:
        - $ref: '#/components/parameters/DomesticConsentId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
        - $ref: '#/components/parameters/x-api-key'
      responses:
        '200':
          $ref: '#/components/responses/200PaymentConsents'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - default: []
      x-auth-type: None
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
  /payments/domestic:
    post:
      tags:
        - DomesticPayments
      summary: Создание платежного поручения
      operationId: CreateDomesticPayment
      parameters:
        - $ref: '#/components/parameters/domesticConsentIdHeader'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-idempotency-key'
        - $ref: '#/components/parameters/x-jws-signature'
        - $ref: '#/components/parameters/x-customer-user-agent'
        - $ref: '#/components/parameters/x-api-key'
      requestBody:
        description: Default
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/OBDomesticPayment'
          application/json:
            schema:
              $ref: '#/components/schemas/OBDomesticPayment'
          application/jose+jwe:
            schema:
              $ref: '#/components/schemas/OBDomesticPayment'
        required: true
      responses:
        '201':
          $ref: '#/components/responses/201OBPayment1'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '415':
          $ref: '#/components/responses/415Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - default: []
      x-auth-type: None
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
  '/payments/domestic/{domesticId}':
    get:
      tags:
        - DomesticPayments
      summary: Получение статуса платежного поручения
      operationId: GetDomesticPaymentByDomesticId
      parameters:
        - $ref: '#/components/parameters/domesticId'
        - $ref: '#/components/parameters/domesticConsentIdHeader'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
        - $ref: '#/components/parameters/x-api-key'
      responses:
        '200':
          $ref: '#/components/responses/200OBPayment2'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - default: []
      x-auth-type: None
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
  /paymentConsents/domesticTax:
    post:
      tags:
        - DomesticTaxConsents
      summary: '  Создание платежного указания на инициирование налогового платежа'
      operationId: CreateDomesticTaxConsents
      parameters:
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-idempotency-key'
        - $ref: '#/components/parameters/x-jws-signature'
        - $ref: '#/components/parameters/x-customer-user-agent'
        - $ref: '#/components/parameters/x-api-key'
      requestBody:
        description: Default
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/OBPaymentConsentTax'
          application/json:
            schema:
              $ref: '#/components/schemas/OBPaymentConsentTax'
          application/jose+jwe:
            schema:
              $ref: '#/components/schemas/OBPaymentConsentTax'
        required: true
      responses:
        '201':
          $ref: '#/components/responses/201PaymentConsentsTax'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '415':
          $ref: '#/components/responses/415Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - default: []
      x-auth-type: None
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
  '/paymentConsents/domesticTax/{domesticTaxConsentId}':
    get:
      tags:
        - DomesticTaxConsents
      summary: >-
        Получение статуса платежного указания на инициирование налогового
        платежа
      operationId: GetPaymentConsentsDomesticTaxByPaymentConsentId
      parameters:
        - $ref: '#/components/parameters/domesticTaxConsentId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
        - $ref: '#/components/parameters/x-api-key'
      responses:
        '200':
          $ref: '#/components/responses/200PaymentConsentsTax'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - default: []
      x-auth-type: None
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
  /payments/domesticTax:
    post:
      tags:
        - DomesticTaxes
      summary: Создание налогового платежа
      operationId: CreateDomesticTaxPayment
      parameters:
        - $ref: '#/components/parameters/domesticTaxConsentIdHeader'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-idempotency-key'
        - $ref: '#/components/parameters/x-jws-signature'
        - $ref: '#/components/parameters/x-customer-user-agent'
        - $ref: '#/components/parameters/x-api-key'
      requestBody:
        description: Default
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/OBDomesticTaxPayment'
          application/json:
            schema:
              $ref: '#/components/schemas/OBDomesticTaxPayment'
          application/jose+jwe:
            schema:
              $ref: '#/components/schemas/OBDomesticTaxPayment'
        required: true
      responses:
        '201':
          $ref: '#/components/responses/201OBTaxPayment1'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '415':
          $ref: '#/components/responses/415Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - default: []
      x-auth-type: None
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
  '/payments/domesticTax/{domesticTaxId}':
    get:
      tags:
        - DomesticTaxes
      summary: Получение статуса налогового платежа
      operationId: GetDomesticTaxByDomesticTaxId
      parameters:
        - $ref: '#/components/parameters/domesticTaxId'
        - $ref: '#/components/parameters/domesticTaxConsentIdHeader'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
        - $ref: '#/components/parameters/x-api-key'
      responses:
        '200':
          $ref: '#/components/responses/200OBTaxPayment2'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - default: []
      x-auth-type: None
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
  /paymentConsents/listAccounts:
    post:
      tags:
        - ListAccountsConsents
      summary: >-
        Создание платежного указания на инициирование платежного поручения со
        списком счетов физических лиц
      operationId: SetPaymentsConsentsOfListAccounts
      parameters:
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-idempotency-key'
        - $ref: '#/components/parameters/x-jws-signature'
        - $ref: '#/components/parameters/x-customer-user-agent'
        - $ref: '#/components/parameters/x-api-key'
      requestBody:
        description: Default
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/OBListAccountsConsent'
          application/json:
            schema:
              $ref: '#/components/schemas/OBListAccountsConsent'
          application/jose+jwe:
            schema:
              $ref: '#/components/schemas/OBListAccountsConsent'
        required: true
      responses:
        '201':
          $ref: '#/components/responses/201PaymentConsentsListAccounts'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '415':
          $ref: '#/components/responses/415Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - default: []
      x-auth-type: None
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
  '/paymentConsents/listAccounts/{listAccountsConsentId}':
    get:
      tags:
        - ListAccountsConsents
      summary: >-
        Получение статуса платежного указания на инициирование платежного
        поручения со списком счетов физических лиц
      operationId: GetPaymentsConsentsOfListAccountsByListAccountsConsentId
      parameters:
        - $ref: '#/components/parameters/listAccountsConsentId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
        - $ref: '#/components/parameters/x-api-key'
      responses:
        '200':
          $ref: '#/components/responses/200PaymentConsentsListAccounts'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - default: []
      x-auth-type: None
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
  /payments/listAccounts:
    post:
      tags:
        - ListAccounts
      summary: Создание платежного поручения со списком счетов физических лиц
      operationId: SetPaymentsListAccounts
      parameters:
        - $ref: '#/components/parameters/listAccountsConsentIdHeader'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-idempotency-key'
        - $ref: '#/components/parameters/x-jws-signature'
        - $ref: '#/components/parameters/x-customer-user-agent'
        - $ref: '#/components/parameters/x-api-key'
      requestBody:
        description: Default
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/OBListAccountsPayment'
          application/json:
            schema:
              $ref: '#/components/schemas/OBListAccountsPayment'
          application/jose+jwe:
            schema:
              $ref: '#/components/schemas/OBListAccountsPayment'
        required: true
      responses:
        '201':
          $ref: '#/components/responses/201OBPaymentListAccounts1'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '415':
          $ref: '#/components/responses/415Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - default: []
      x-auth-type: None
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
  '/payments/listAccounts/{listAccountsId}':
    get:
      tags:
        - ListAccounts
      summary: Получение статуса платежного поручения со списком счетов физических лиц
      operationId: GetPaymentsListAccountsByListAccountsId
      parameters:
        - $ref: '#/components/parameters/listAccountsId'
        - $ref: '#/components/parameters/listAccountsConsentIdHeader'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
        - $ref: '#/components/parameters/x-api-key'
      responses:
        '200':
          $ref: '#/components/responses/200OBPaymentListAccounts2'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - default: []
      x-auth-type: None
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
  /paymentConsents/listPassports:
    post:
      tags:
        - ListPassportsConsents
      summary: >-
        Создание платежного указания на инициирование платежного поручения со
        списком без открытия счетов физических лиц
      operationId: SetPaymentConsentsByListPassports
      parameters:
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-idempotency-key'
        - $ref: '#/components/parameters/x-jws-signature'
        - $ref: '#/components/parameters/x-customer-user-agent'
        - $ref: '#/components/parameters/x-api-key'
      requestBody:
        description: Default
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/OBListPassportsConsent'
          application/json:
            schema:
              $ref: '#/components/schemas/OBListPassportsConsent'
          application/jose+jwe:
            schema:
              $ref: '#/components/schemas/OBListPassportsConsent'
        required: true
      responses:
        '201':
          $ref: '#/components/responses/201PaymentConsentsListPassports'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '415':
          $ref: '#/components/responses/415Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - default: []
      x-auth-type: None
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
  '/paymentConsents/listPassports/{listPassportsConsentId}':
    get:
      tags:
        - ListPassportsConsents
      summary: >-
        Получение статуса платежного указания на инициирование платежного
        поручения со списком без открытия счетов физических лиц
      operationId: GetPaymentConsentsOfListPassportsByListPassportsConsentId
      parameters:
        - $ref: '#/components/parameters/listPassportsConsentId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
        - $ref: '#/components/parameters/x-api-key'
      responses:
        '200':
          $ref: '#/components/responses/200PaymentConsentsListPassports'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - default: []
      x-auth-type: None
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
  /payments/listPassports:
    post:
      tags:
        - ListPassports
      summary: >-
        Создание платежного поручения со списком без открытия счетов физических
        лиц
      operationId: SetPaymentsByListPassports
      parameters:
        - $ref: '#/components/parameters/listPassportsConsentIdHeader'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-idempotency-key'
        - $ref: '#/components/parameters/x-jws-signature'
        - $ref: '#/components/parameters/x-customer-user-agent'
        - $ref: '#/components/parameters/x-api-key'
      requestBody:
        description: Default
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/OBListPassportsPayment'
          application/json:
            schema:
              $ref: '#/components/schemas/OBListPassportsPayment'
          application/jose+jwe:
            schema:
              $ref: '#/components/schemas/OBListPassportsPayment'
        required: true
      responses:
        '201':
          $ref: '#/components/responses/201OBPaymentListPassports1'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '415':
          $ref: '#/components/responses/415Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - default: []
      x-auth-type: None
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
  '/payments/listPassports/{listPassportsId}':
    get:
      tags:
        - ListPassports
      summary: >-
        Получение статуса платежного поручения со списком без открытия счетов
        физических лиц
      operationId: GetPaymentsByListPassportsId
      parameters:
        - $ref: '#/components/parameters/listPassportsId'
        - $ref: '#/components/parameters/listPassportsConsentIdHeader'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
        - $ref: '#/components/parameters/x-api-key'
      responses:
        '200':
          $ref: '#/components/responses/200OBPaymentListPassports2'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - default: []
      x-auth-type: None
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
  /paymentConsents/requirement:
    post:
      tags:
        - RequirementConsents
      summary: Создание платежного указания на выставление платежного требования
      operationId: SetPaymentConsentsRequrement
      parameters:
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-idempotency-key'
        - $ref: '#/components/parameters/x-jws-signature'
        - $ref: '#/components/parameters/x-customer-user-agent'
        - $ref: '#/components/parameters/x-api-key'
      requestBody:
        description: Default
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/OBReqConsent'
          application/json:
            schema:
              $ref: '#/components/schemas/OBReqConsent'
          application/jose+jwe:
            schema:
              $ref: '#/components/schemas/OBReqConsent'
        required: true
      responses:
        '201':
          $ref: '#/components/responses/201ReqConsents'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '415':
          $ref: '#/components/responses/415Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - default: []
      x-auth-type: None
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
  '/paymentConsents/requirement/{requirementConsentId}':
    get:
      tags:
        - RequirementConsents
      summary: >-
        Получение статуса платежного указания на выставление платежного
        требования
      operationId: GetPaymentsByRequirementId
      parameters:
        - $ref: '#/components/parameters/requirementConsentId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
        - $ref: '#/components/parameters/x-api-key'
      responses:
        '200':
          $ref: '#/components/responses/200ReqConsents'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - default: []
      x-auth-type: None
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
  /payments/requirement:
    post:
      tags:
        - Requirements
      summary: Создание платежного требования
      operationId: SetPaymentsRequirements
      parameters:
        - $ref: '#/components/parameters/requirementConsentIdHeader'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-idempotency-key'
        - $ref: '#/components/parameters/x-jws-signature'
        - $ref: '#/components/parameters/x-customer-user-agent'
        - $ref: '#/components/parameters/x-api-key'
      requestBody:
        description: Default
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/OBReqPayment'
          application/json:
            schema:
              $ref: '#/components/schemas/OBReqPayment'
          application/jose+jwe:
            schema:
              $ref: '#/components/schemas/OBReqPayment'
        required: true
      responses:
        '201':
          $ref: '#/components/responses/201OBPaymentReq1'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '415':
          $ref: '#/components/responses/415Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - default: []
      x-auth-type: None
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
  '/payments/requirement/{requirementId}':
    get:
      tags:
        - Requirements
      summary: Получение статуса платежного требования
      operationId: GetPaymentsRequirimentsByRequirementId
      parameters:
        - $ref: '#/components/parameters/requirementId'
        - $ref: '#/components/parameters/requirementConsentIdHeader'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
        - $ref: '#/components/parameters/x-api-key'
      responses:
        '200':
          $ref: '#/components/responses/200OBPaymentReq2'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - default: []
      x-auth-type: None
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
  /paymentConsents/taxRequirement:
    post:
      tags:
        - TaxRequirementConsents
      summary: >-
        Создание платежное указание на выставление платежного требования на
        уплату налогов (других платежей в бюджет)
      operationId: SetPaymentConsentsTaxRequirement
      parameters:
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-idempotency-key'
        - $ref: '#/components/parameters/x-jws-signature'
        - $ref: '#/components/parameters/x-customer-user-agent'
        - $ref: '#/components/parameters/x-api-key'
      requestBody:
        description: Default
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/OBPaymentConsentTaxReq'
          application/json:
            schema:
              $ref: '#/components/schemas/OBPaymentConsentTaxReq'
          application/jose+jwe:
            schema:
              $ref: '#/components/schemas/OBPaymentConsentTaxReq'
        required: true
      responses:
        '201':
          $ref: '#/components/responses/201PaymentConsentsTaxReq'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '415':
          $ref: '#/components/responses/415Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - default: []
      x-auth-type: None
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
  '/paymentConsents/taxRequirement/{taxRequirementConsentId}':
    get:
      tags:
        - TaxRequirementConsents
      summary: >-
        Получение статуса платежного указания на выставление платежного
        требования на уплату налогов (других платежей в бюджет)
      operationId: GetPaymentConsentsTaxRequirementByTaxRequirementConsentId
      parameters:
        - $ref: '#/components/parameters/taxRequirementConsentId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
        - $ref: '#/components/parameters/x-api-key'
      responses:
        '200':
          $ref: '#/components/responses/200PaymentConsentsTaxReq'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - default: []
      x-auth-type: None
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
  /payments/taxRequirement:
    post:
      tags:
        - TaxRequirements
      summary: >-
        Создание платежного требования на уплату налогов (других платежей в
        бюджет)
      operationId: SetPaymentsTaxRequirements
      parameters:
        - $ref: '#/components/parameters/taxRequirementConsentIdHeader'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-idempotency-key'
        - $ref: '#/components/parameters/x-jws-signature'
        - $ref: '#/components/parameters/x-customer-user-agent'
        - $ref: '#/components/parameters/x-api-key'
      requestBody:
        description: Default
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/OBReqTaxPayment'
          application/json:
            schema:
              $ref: '#/components/schemas/OBReqTaxPayment'
          application/jose+jwe:
            schema:
              $ref: '#/components/schemas/OBReqTaxPayment'
        required: true
      responses:
        '201':
          $ref: '#/components/responses/201OBTaxPaymentReq1'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '415':
          $ref: '#/components/responses/415Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - default: []
      x-auth-type: None
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
  '/payments/taxRequirement/{taxRequirementId}':
    get:
      tags:
        - TaxRequirements
      summary: >-
        Получение статуса платежного требования на уплату налогов (других
        платежей в бюджет)
      operationId: GetPaymentsTaxRequirementsByTaxRequirementId
      parameters:
        - $ref: '#/components/parameters/taxRequirementId'
        - $ref: '#/components/parameters/taxRequirementConsentIdHeader'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
        - $ref: '#/components/parameters/x-api-key'
      responses:
        '200':
          $ref: '#/components/responses/200OBTaxPaymentReq2'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - default: []
      x-auth-type: None
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
  /paymentConsents/VRP:
    post:
      tags:
        - VRPConsents
      summary: Создание платежного указания на инициирование рекуррентного платежа
      operationId: SetPaymentConsentsVRP
      parameters:
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-idempotency-key'
        - $ref: '#/components/parameters/x-jws-signature'
        - $ref: '#/components/parameters/x-customer-user-agent'
        - $ref: '#/components/parameters/x-api-key'
      requestBody:
        description: Default
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/OBVRPConsent'
          application/json:
            schema:
              $ref: '#/components/schemas/OBVRPConsent'
          application/jose+jwe:
            schema:
              $ref: '#/components/schemas/OBVRPConsent'
        required: true
      responses:
        '201':
          $ref: '#/components/responses/201VRPConsents'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '415':
          $ref: '#/components/responses/415Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - default: []
      x-auth-type: None
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
  '/paymentConsents/VRP/{VRPConsentId}':
    get:
      tags:
        - VRPConsents
      summary: >-
        Получение статуса платежного указания на инициирование рекуррентного
        платежа
      operationId: GetPaymentConsentsVPRByVRPConsentId
      parameters:
        - $ref: '#/components/parameters/VRPConsentId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
        - $ref: '#/components/parameters/x-api-key'
      responses:
        '200':
          $ref: '#/components/responses/200VRPConsents'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - default: []
      x-auth-type: None
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
    delete:
      tags:
        - VRPConsents
      summary: >-
        Удаление (отзыв) платежного указания на инициирование рекуррентного
        платежа
      operationId: DeletePaymentConsentsVPRByVPRConsentId
      parameters:
        - $ref: '#/components/parameters/VRPConsentId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
        - $ref: '#/components/parameters/x-api-key'
      responses:
        '204':
          $ref: '#/components/responses/204PaymentConsentIdDeleted'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - default: []
      x-auth-type: None
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
  /payments/VRP:
    post:
      tags:
        - VRP
      summary: Создание рекуррентного платежа
      operationId: SetPaymentsVRP
      parameters:
        - $ref: '#/components/parameters/VRPConsentIdHeader'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-idempotency-key'
        - $ref: '#/components/parameters/x-jws-signature'
        - $ref: '#/components/parameters/x-customer-user-agent'
        - $ref: '#/components/parameters/x-api-key'
      requestBody:
        description: Default
        content:
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/OBVRPPayment'
          application/json:
            schema:
              $ref: '#/components/schemas/OBVRPPayment'
          application/jose+jwe:
            schema:
              $ref: '#/components/schemas/OBVRPPayment'
        required: true
      responses:
        '201':
          $ref: '#/components/responses/201OBVRP1'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '415':
          $ref: '#/components/responses/415Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - default: []
      x-auth-type: None
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
  '/payments/VRP/{VRPId}':
    get:
      tags:
        - VRP
      summary: Получение статуса рекуррентного платежа
      operationId: GetPaymentsVRPbyVRPid
      parameters:
        - $ref: '#/components/parameters/VRPId'
        - $ref: '#/components/parameters/VRPConsentIdHeader'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
        - $ref: '#/components/parameters/x-api-key'
      responses:
        '200':
          $ref: '#/components/responses/200OBVRP2'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - default: []
      x-auth-type: None
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
  /paymentConsents:
    get:
      tags:
        - ListPayments
      summary: Получение информации по всем платежным указаниям клиента
      operationId: getListOfPaymentsConsents
      parameters:
        - $ref: '#/components/parameters/FromCreationDate'
        - $ref: '#/components/parameters/ToCreationDate'
        - $ref: '#/components/parameters/Type'
        - $ref: '#/components/parameters/Status'
        - $ref: '#/components/parameters/x-api-key'
      responses:
        '200':
          $ref: '#/components/responses/200PaymentsConsentsList'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - default: []
      x-auth-type: None
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
  /payments:
    get:
      tags:
        - ListPayments
      summary: Получение информации по всем платежам.
      operationId: getListOfPayments
      parameters:
        - $ref: '#/components/parameters/FromCreationDate'
        - $ref: '#/components/parameters/ToCreationDate'
        - $ref: '#/components/parameters/Type'
        - $ref: '#/components/parameters/Status'
        - $ref: '#/components/parameters/x-api-key'
      responses:
        '200':
          $ref: '#/components/responses/200PaymentsList'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - default: []
      x-auth-type: None
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
        optional: false
components:
  schemas:
    OBDomesticConsent:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataDomestic'
        Risk:
          $ref: '#/components/schemas/OBRisk'
    OBVRPConsent:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataVRP'
        Risk:
          $ref: '#/components/schemas/OBRisk'
    OBReqConsent:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataReq'
        Risk:
          $ref: '#/components/schemas/OBRisk'
    OBListAccountsConsent:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataListAccounts'
    OBListPassportsConsent:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataListPassports'
    OBPaymentConsentTax:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataTaxDomestic'
    OBPaymentConsentTaxReq:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataTaxReq'
    OBPaymentConsentListAccounts1:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataListAccountsResp'
    OBPaymentConsentListPassports1:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataListPassportsResp'
    OBPaymentConsent1:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataDomesticResp'
    OBVRPConsent1:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataVRPResp'
        Risk:
          $ref: '#/components/schemas/OBRisk'
    OBReqConsent1:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataReqResp'
    OBPaymentConsent2:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataDomesticResp1'
        Risk:
          $ref: '#/components/schemas/OBRisk'
    OBVRPConsent2:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataVRPResp1'
        Risk:
          $ref: '#/components/schemas/OBRisk'
    OBReqConsent2:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataReqResp1'
        Risk:
          $ref: '#/components/schemas/OBRisk'
    OBPaymentConsentListAccounts2:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataListAccountsResp1'
    OBPaymentConsentListPassports2:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataListPassportsResp1'
    OBPaymentConsentTax1:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataTax'
    OBPaymentConsentTaxReq1:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataTaxReq1'
    OBPaymentConsentTax2:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataTax1'
    OBPaymentConsentTaxReq2:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataTaxReq2'
    OBDomesticPayment:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataDomesticPayment'
        Risk:
          $ref: '#/components/schemas/OBRisk'
    OBVRPPayment:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataVRPPayment'
        Risk:
          $ref: '#/components/schemas/OBRisk'
    OBReqPayment:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataReqPayment'
        Risk:
          $ref: '#/components/schemas/OBRisk'
    OBListAccountsPayment:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataListAccountsPayment'
    OBListPassportsPayment:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataListPassportsPayment'
    OBDomesticTaxPayment:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataDomesticTaxPayment'
    OBReqTaxPayment:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataReqTaxPayment'
    OBPayment1:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataPayment1'
        Risk:
          $ref: '#/components/schemas/OBRisk'
    OBVRP1:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataVRP1'
        Risk:
          $ref: '#/components/schemas/OBRisk'
    OBPaymentReq1:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataPaymentReq1'
        Risk:
          $ref: '#/components/schemas/OBRisk'
    OBPaymentListAccounts1:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataPaymentListAccounts1'
    OBPaymentListPassports1:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataPaymentListPassports1'
    OBTaxPayment1:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataTaxPayment1'
    OBTaxPaymentReq1:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataTaxPaymentReq1'
    OBPayment2:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataPayment2'
        Risk:
          $ref: '#/components/schemas/OBRisk'
    OBPaymentsConsentsList:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataPaymentsConsentsList'
    OBPaymentsList:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataPaymentsList'
    OBVRP2:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataVRP2'
        Risk:
          $ref: '#/components/schemas/OBRisk'
    OBPaymentReq2:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataPaymentReq2'
        Risk:
          $ref: '#/components/schemas/OBRisk'
    OBPaymentListAccounts2:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataPaymentListAccounts2'
    OBPaymentListPassports2:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataPaymentListPassports2'
    OBTaxPayment2:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataTaxPayment2'
    OBTaxPaymentReq2:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataTaxPaymentReq2'
    OBPaymentStatus:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataPaymentStatus'
    OBDataDomesticPayment:
      required:
        - Initiation
        - domesticConsentId
      type: object
      properties:
        domesticConsentId:
          $ref: '#/components/schemas/DomesticConsentId'
        Initiation:
          $ref: '#/components/schemas/OBInitiationDomestic'
    OBDataVRPPayment:
      required:
        - Initiation
        - Instruction
        - VRPConsentId
      type: object
      properties:
        VRPConsentId:
          $ref: '#/components/schemas/VRPConsentId'
        Initiation:
          $ref: '#/components/schemas/OBInitiationVRP'
        Instruction:
          $ref: '#/components/schemas/OBInstruction'
    OBDataReqPayment:
      required:
        - Initiation
        - requirementConsentId
      type: object
      properties:
        requirementConsentId:
          $ref: '#/components/schemas/RequirementConsentId'
        Initiation:
          $ref: '#/components/schemas/OBInitiationReq'
    OBDataListAccountsPayment:
      required:
        - Initiation
        - listAccountsConsentId
      type: object
      properties:
        listAccountsConsentId:
          $ref: '#/components/schemas/ListAccountsConsentId'
        Initiation:
          $ref: '#/components/schemas/OBInitiationListAccounts'
    OBDataListPassportsPayment:
      required:
        - Initiation
        - listPassportsConsentId
      type: object
      properties:
        listPassportsConsentId:
          $ref: '#/components/schemas/ListPassportsConsentId'
        Initiation:
          $ref: '#/components/schemas/OBInitiationListPassports'
    OBDataDomesticTaxPayment:
      required:
        - Initiation
        - domesticTaxConsentId
      type: object
      properties:
        domesticTaxConsentId:
          $ref: '#/components/schemas/DomesticTaxConsentId'
        Initiation:
          $ref: '#/components/schemas/OBInitiationTaxDomestic'
    OBDataReqTaxPayment:
      required:
        - Initiation
        - taxRequirementConsentId
      type: object
      properties:
        taxRequirementConsentId:
          $ref: '#/components/schemas/TaxRequirementConsentId'
        Initiation:
          $ref: '#/components/schemas/OBInitiationTaxReq'
    OBDataPayment1:
      required:
        - Initiation
        - PaymentStatus
        - creationDateTime
        - domesticConsentId
        - domesticId
      type: object
      properties:
        domesticId:
          $ref: '#/components/schemas/DomesticId'
        domesticConsentId:
          $ref: '#/components/schemas/DomesticConsentId'
        creationDateTime:
          $ref: '#/components/schemas/CreationDateTime'
        expectedExecutionDate:
          $ref: '#/components/schemas/ExpectedExecutionDate'
        expectedSettlementDate:
          $ref: '#/components/schemas/ExpectedSettlementDate'
        Initiation:
          $ref: '#/components/schemas/OBInitiationDomestic'
        Multiauthorisation:
          $ref: '#/components/schemas/OBMultiAuthorisation'
        Charge:
          $ref: '#/components/schemas/OBCharge'
        PaymentStatus:
          $ref: '#/components/schemas/OBDataPaymentStatus'
    OBDataVRP1:
      required:
        - Initiation
        - Instruction
        - PaymentStatus
        - VRPConsentId
        - VRPId
        - creationDateTime
      type: object
      properties:
        VRPId:
          $ref: '#/components/schemas/VRPId'
        VRPConsentId:
          $ref: '#/components/schemas/VRPConsentId'
        creationDateTime:
          $ref: '#/components/schemas/CreationDateTime'
        expectedExecutionDate:
          $ref: '#/components/schemas/ExpectedExecutionDate'
        expectedSettlementDate:
          $ref: '#/components/schemas/ExpectedSettlementDate'
        Initiation:
          $ref: '#/components/schemas/OBInitiationVRP'
        Instruction:
          $ref: '#/components/schemas/OBInstruction'
        Charge:
          $ref: '#/components/schemas/OBCharge'
        PaymentStatus:
          $ref: '#/components/schemas/OBDataPaymentStatus'
    OBDataPaymentReq1:
      required:
        - Initiation
        - PaymentStatus
        - creationDateTime
        - requirementConsentId
        - requirementId
      type: object
      properties:
        requirementId:
          $ref: '#/components/schemas/RequirementId'
        requirementConsentId:
          $ref: '#/components/schemas/RequirementConsentId'
        creationDateTime:
          $ref: '#/components/schemas/CreationDateTime'
        expectedExecutionDate:
          $ref: '#/components/schemas/ExpectedExecutionDate'
        expectedSettlementDate:
          $ref: '#/components/schemas/ExpectedSettlementDate'
        Initiation:
          $ref: '#/components/schemas/OBInitiationReq'
        Multiauthorisation:
          $ref: '#/components/schemas/OBMultiAuthorisation'
        Charge:
          $ref: '#/components/schemas/OBCharge'
        PaymentStatus:
          $ref: '#/components/schemas/OBDataPaymentStatus'
    OBDataPaymentListAccounts1:
      required:
        - Initiation
        - PaymentStatus
        - creationDateTime
        - listAccountsConsentId
        - listAccountsId
      type: object
      properties:
        listAccountsId:
          $ref: '#/components/schemas/ListAccountsId'
        listAccountsConsentId:
          $ref: '#/components/schemas/ListAccountsConsentId'
        creationDateTime:
          $ref: '#/components/schemas/CreationDateTime'
        expectedExecutionDate:
          $ref: '#/components/schemas/ExpectedExecutionDate'
        expectedSettlementDate:
          $ref: '#/components/schemas/ExpectedSettlementDate'
        Initiation:
          $ref: '#/components/schemas/OBInitiationListAccounts'
        Multiauthorisation:
          $ref: '#/components/schemas/OBMultiAuthorisation'
        Charge:
          $ref: '#/components/schemas/OBCharge'
        PaymentStatus:
          $ref: '#/components/schemas/OBDataPaymentStatus'
    OBDataPaymentListPassports1:
      required:
        - Initiation
        - PaymentStatus
        - creationDateTime
        - listPassportsConsentId
        - listPassportsId
      type: object
      properties:
        listPassportsId:
          $ref: '#/components/schemas/ListPassportsId'
        listPassportsConsentId:
          $ref: '#/components/schemas/ListPassportsConsentId'
        creationDateTime:
          $ref: '#/components/schemas/CreationDateTime'
        expectedExecutionDate:
          $ref: '#/components/schemas/ExpectedExecutionDate'
        expectedSettlementDate:
          $ref: '#/components/schemas/ExpectedSettlementDate'
        Initiation:
          $ref: '#/components/schemas/OBInitiationListPassports'
        Multiauthorisation:
          $ref: '#/components/schemas/OBMultiAuthorisation'
        Charge:
          $ref: '#/components/schemas/OBCharge'
        PaymentStatus:
          $ref: '#/components/schemas/OBDataPaymentStatus'
    OBDataTaxPayment1:
      required:
        - Initiation
        - PaymentStatus
        - creationDateTime
        - domesticTaxConsentId
        - domesticTaxId
      type: object
      properties:
        domesticTaxId:
          $ref: '#/components/schemas/DomesticTaxId'
        domesticTaxConsentId:
          $ref: '#/components/schemas/DomesticTaxConsentId'
        creationDateTime:
          $ref: '#/components/schemas/CreationDateTime'
        expectedExecutionDate:
          $ref: '#/components/schemas/ExpectedExecutionDate'
        expectedSettlementDate:
          $ref: '#/components/schemas/ExpectedSettlementDate'
        Initiation:
          $ref: '#/components/schemas/OBInitiationTaxDomestic'
        Multiauthorisation:
          $ref: '#/components/schemas/OBMultiAuthorisation'
        PaymentStatus:
          $ref: '#/components/schemas/OBDataPaymentStatus'
    OBDataTaxPaymentReq1:
      required:
        - Initiation
        - PaymentStatus
        - creationDateTime
        - taxRequirementConsentId
        - taxRequirementId
      type: object
      properties:
        taxRequirementConsentId:
          $ref: '#/components/schemas/TaxRequirementConsentId'
        taxRequirementId:
          $ref: '#/components/schemas/TaxRequirementId'
        creationDateTime:
          $ref: '#/components/schemas/CreationDateTime'
        expectedExecutionDate:
          $ref: '#/components/schemas/ExpectedExecutionDate'
        expectedSettlementDate:
          $ref: '#/components/schemas/ExpectedSettlementDate'
        Initiation:
          $ref: '#/components/schemas/OBInitiationTaxReq'
        Multiauthorisation:
          $ref: '#/components/schemas/OBMultiAuthorisation'
        PaymentStatus:
          $ref: '#/components/schemas/OBDataPaymentStatus'
    OBDataPaymentsConsentsList:
      type: object
      properties:
        PaymentConsent:
          $ref: '#/components/schemas/OBPaymentConsent'
    OBDataPaymentsList:
      type: object
      properties:
        Payment:
          $ref: '#/components/schemas/OBPayment'
    OBPaymentConsent:
      type: array
      properties:
        paymentConsentId:
          $ref: '#/components/schemas/PaymentConsentId'
        creationDateTime:
          $ref: '#/components/schemas/CreationDateTime'
        status:
          $ref: '#/components/schemas/StatusPaymentConsent'
        type:
          $ref: '#/components/schemas/TypePaymentConsent'
      example:
        - paymentConsentId: 3cgfc598-r5gh-9758-b358-587a5479610s
          creationDateTime: '2021-04-19T19:43:31+03:00'
          status: Authorised
          type: domesticConsent
        - paymentConsentId: fhty566874-r5gh-9654-b358-587a5479610s
          creationDateTime: '2021-04-21T10:06:02+03:00'
          status: Rejected
          type: requirementConsent
      items:
        required:
          - creationDateTime
          - paymentConsentId
          - status
          - type
    OBPayment:
      type: array
      properties:
        paymentId:
          $ref: '#/components/schemas/PaymentId'
        creationDateTime:
          $ref: '#/components/schemas/CreationDateTime'
        type:
          $ref: '#/components/schemas/TypePayment'
        PaymentStatus:
          $ref: '#/components/schemas/OBDataPaymentStatus'
      example:
        - paymentId: 3cgfc598-r5gh-9758-b358-587a5479610s
          creationDateTime: '2021-04-19T19:43:31+03:00'
          type: domestic
          PaymentStatus:
            paymentStatus: ACCC
            statusUpdateDateTime: '2021-04-20T10:11:06+03:00'
        - paymentId: fhty566874-r5gh-9654-b358-587a5479610s
          creationDateTime: '2021-04-21T10:06:02+03:00'
          type: requirement
          PaymentStatus:
            paymentStatus: RJCT
            statusUpdateDateTime: '2021-04-21T12:11:06+03:00'
            statusReasonInformation:
              statusReasonCode: AM09
              additionalInformation: Сумма не является согласованной или ожидаемой
      items:
        required:
          - PaymentStatus
          - creationDateTime
          - paymentId
          - type
    OBDataPayment2:
      required:
        - Initiation
        - PaymentStatus
        - creationDateTime
        - domesticConsentId
        - domesticId
      type: object
      properties:
        domesticId:
          $ref: '#/components/schemas/DomesticId'
        domesticConsentId:
          $ref: '#/components/schemas/DomesticConsentId'
        creationDateTime:
          $ref: '#/components/schemas/CreationDateTime'
        expectedExecutionDate:
          $ref: '#/components/schemas/ExpectedExecutionDate'
        expectedSettlementDate:
          $ref: '#/components/schemas/ExpectedSettlementDate'
        Initiation:
          $ref: '#/components/schemas/OBInitiationDomestic'
        Multiauthorisation:
          $ref: '#/components/schemas/OBMultiAuthorisation'
        Charge:
          $ref: '#/components/schemas/OBCharge'
        PaymentStatus:
          $ref: '#/components/schemas/OBDataPaymentStatusGet'
    OBDataVRP2:
      required:
        - Initiation
        - Instruction
        - PaymentStatus
        - VRPConsentId
        - VRPId
        - creationDateTime
      type: object
      properties:
        VRPId:
          $ref: '#/components/schemas/VRPId'
        VRPConsentId:
          $ref: '#/components/schemas/VRPConsentId'
        creationDateTime:
          $ref: '#/components/schemas/CreationDateTime'
        expectedExecutionDate:
          $ref: '#/components/schemas/ExpectedExecutionDate'
        expectedSettlementDate:
          $ref: '#/components/schemas/ExpectedSettlementDate'
        Initiation:
          $ref: '#/components/schemas/OBInitiationVRP'
        Instruction:
          $ref: '#/components/schemas/OBInstruction'
        Charge:
          $ref: '#/components/schemas/OBCharge'
        PaymentStatus:
          $ref: '#/components/schemas/OBDataPaymentStatusGet'
    OBDataPaymentReq2:
      required:
        - Initiation
        - PaymentStatus
        - creationDateTime
        - requirementConsentId
        - requirementId
      type: object
      properties:
        requirementId:
          $ref: '#/components/schemas/RequirementId'
        requirementConsentId:
          $ref: '#/components/schemas/RequirementConsentId'
        creationDateTime:
          $ref: '#/components/schemas/CreationDateTime'
        expectedExecutionDate:
          $ref: '#/components/schemas/ExpectedExecutionDate'
        expectedSettlementDate:
          $ref: '#/components/schemas/ExpectedSettlementDate'
        Initiation:
          $ref: '#/components/schemas/OBInitiationReq'
        Multiauthorisation:
          $ref: '#/components/schemas/OBMultiAuthorisation'
        Charge:
          $ref: '#/components/schemas/OBCharge'
        PaymentStatus:
          $ref: '#/components/schemas/OBDataPaymentStatusGet'
    OBDataPaymentListAccounts2:
      required:
        - Initiation
        - PaymentStatus
        - creationDateTime
        - listAccountsConsentId
        - listAccountsId
      type: object
      properties:
        listAccountsId:
          $ref: '#/components/schemas/ListAccountsId'
        listAccountsConsentId:
          $ref: '#/components/schemas/ListAccountsConsentId'
        creationDateTime:
          $ref: '#/components/schemas/CreationDateTime'
        expectedExecutionDate:
          $ref: '#/components/schemas/ExpectedExecutionDate'
        expectedSettlementDate:
          $ref: '#/components/schemas/ExpectedSettlementDate'
        Initiation:
          $ref: '#/components/schemas/OBInitiationListAccounts'
        Multiauthorisation:
          $ref: '#/components/schemas/OBMultiAuthorisation'
        Charge:
          $ref: '#/components/schemas/OBCharge'
        PaymentStatus:
          $ref: '#/components/schemas/OBDataPaymentStatusGet'
    OBDataPaymentListPassports2:
      required:
        - Initiation
        - PaymentStatus
        - creationDateTime
        - listPassportsConsentId
        - listPassportsId
      type: object
      properties:
        listPassportsId:
          $ref: '#/components/schemas/ListPassportsId'
        listPassportsConsentId:
          $ref: '#/components/schemas/ListPassportsConsentId'
        creationDateTime:
          $ref: '#/components/schemas/CreationDateTime'
        expectedExecutionDate:
          $ref: '#/components/schemas/ExpectedExecutionDate'
        expectedSettlementDate:
          $ref: '#/components/schemas/ExpectedSettlementDate'
        Initiation:
          $ref: '#/components/schemas/OBInitiationListPassports'
        Multiauthorisation:
          $ref: '#/components/schemas/OBMultiAuthorisation'
        Charge:
          $ref: '#/components/schemas/OBCharge'
        PaymentStatus:
          $ref: '#/components/schemas/OBDataPaymentStatusGet'
    OBDataTaxPayment2:
      required:
        - Initiation
        - PaymentStatus
        - creationDateTime
        - domesticTaxConsentId
        - domesticTaxId
      type: object
      properties:
        domesticTaxId:
          $ref: '#/components/schemas/DomesticTaxId'
        domesticTaxConsentId:
          $ref: '#/components/schemas/DomesticTaxConsentId'
        creationDateTime:
          $ref: '#/components/schemas/CreationDateTime'
        expectedExecutionDate:
          $ref: '#/components/schemas/ExpectedExecutionDate'
        expectedSettlementDate:
          $ref: '#/components/schemas/ExpectedSettlementDate'
        Initiation:
          $ref: '#/components/schemas/OBInitiationTaxDomestic'
        Multiauthorisation:
          $ref: '#/components/schemas/OBMultiAuthorisation'
        PaymentStatus:
          $ref: '#/components/schemas/OBDataPaymentStatusGet'
    OBDataTaxPaymentReq2:
      required:
        - Initiation
        - PaymentStatus
        - creationDateTime
        - taxRequirementConsentId
        - taxRequirementId
      type: object
      properties:
        taxRequirementId:
          $ref: '#/components/schemas/TaxRequirementId'
        taxRequirementConsentId:
          $ref: '#/components/schemas/TaxRequirementConsentId'
        creationDateTime:
          $ref: '#/components/schemas/CreationDateTime'
        expectedExecutionDate:
          $ref: '#/components/schemas/ExpectedExecutionDate'
        expectedSettlementDate:
          $ref: '#/components/schemas/ExpectedSettlementDate'
        Initiation:
          $ref: '#/components/schemas/OBInitiationTaxReq'
        Multiauthorisation:
          $ref: '#/components/schemas/OBMultiAuthorisation'
        PaymentStatus:
          $ref: '#/components/schemas/OBDataPaymentStatusGet'
    OBDataPaymentStatus:
      required:
        - paymentStatus
        - statusUpdateDateTime
      type: object
      properties:
        paymentStatus:
          $ref: '#/components/schemas/PaymentStatus'
        statusUpdateDateTime:
          $ref: '#/components/schemas/StatusUpdateDateTime1'
        statusReasonInformation:
          $ref: '#/components/schemas/StatusReasonInformation'
    OBDataPaymentStatusGet:
      required:
        - paymentStatus
        - statusUpdateDateTime
      type: object
      properties:
        paymentStatus:
          $ref: '#/components/schemas/PaymentStatusGet'
        statusUpdateDateTime:
          $ref: '#/components/schemas/StatusUpdateDateTime1Get'
        statusReasonInformation:
          $ref: '#/components/schemas/StatusReasonInformation'
    PaymentStatus:
      maxLength: 4
      minLength: 1
      type: string
      description: Код статуса платежа согласно справочника ISO E065
      example: PDNG
    PaymentStatusGet:
      maxLength: 4
      minLength: 1
      type: string
      description: Код статуса платежа согласно справочника ISO E065
      example: ACCC
    StatusReasonInformation:
      required:
        - statusReasonCode
      type: object
      properties:
        statusReasonCode:
          $ref: '#/components/schemas/StatusReasonCode'
        additionalInformation:
          $ref: '#/components/schemas/AdditionalInformation'
    StatusReasonCode:
      maxLength: 4
      minLength: 1
      type: string
      description: Код причины отмены транзакции
    OBDataTaxDomestic:
      required:
        - Initiation
      type: object
      properties:
        Initiation:
          $ref: '#/components/schemas/OBInitiationTaxDomestic'
        Authorisation:
          $ref: '#/components/schemas/OBAuthorisation'
    OBDataTaxReq:
      required:
        - Initiation
      type: object
      properties:
        Initiation:
          $ref: '#/components/schemas/OBInitiationTaxReq'
        Authorisation:
          $ref: '#/components/schemas/OBAuthorisation'
    OBInitiationTaxDomestic:
      required:
        - amount
        - creditor
        - currency
        - endToEndIdentification
        - instructionIdentification
        - localInstrument
        - requestedExecutionDate
        - taxRemmitance
      type: object
      properties:
        instructionIdentification:
          $ref: '#/components/schemas/InstructionIdentification'
        endToEndIdentification:
          $ref: '#/components/schemas/EndToEndIdentification'
        localInstrument:
          $ref: '#/components/schemas/LocalInstrument'
        amount:
          $ref: '#/components/schemas/Amount'
        currency:
          $ref: '#/components/schemas/Currency'
        requestedExecutionDate:
          $ref: '#/components/schemas/RequestedExecutionDate'
        debtor:
          $ref: '#/components/schemas/OBDebtor'
        creditor:
          $ref: '#/components/schemas/OBCreditorTax'
        remmitanceInformation:
          $ref: '#/components/schemas/OBRemmitanceInformationTax'
        taxRemmitance:
          $ref: '#/components/schemas/OBTaxRemmitance'
        supplementaryData:
          $ref: '#/components/schemas/OBSupplementaryData'
    OBInitiationTaxReq:
      required:
        - amount
        - creditor
        - currency
        - debtor
        - endToEndIdentification
        - instructionIdentification
        - localInstrument
        - requestedExecutionDate
        - taxRemmitance
      type: object
      properties:
        instructionIdentification:
          $ref: '#/components/schemas/InstructionIdentification'
        endToEndIdentification:
          $ref: '#/components/schemas/EndToEndIdentification'
        localInstrument:
          $ref: '#/components/schemas/LocalInstrument'
        amount:
          $ref: '#/components/schemas/Amount'
        currency:
          $ref: '#/components/schemas/Currency'
        requestedExecutionDate:
          $ref: '#/components/schemas/RequestedExecutionDate'
        debtor:
          $ref: '#/components/schemas/OBDebtor'
        creditor:
          $ref: '#/components/schemas/OBCreditorTax'
        remmitanceInformation:
          $ref: '#/components/schemas/OBRemmitanceInformationTax'
        taxRemmitance:
          $ref: '#/components/schemas/OBTaxRemmitance'
        enclosedFile:
          $ref: '#/components/schemas/OBEnclosedFileTax'
        supplementaryData:
          $ref: '#/components/schemas/OBSupplementaryData'
    OBDataDomestic:
      required:
        - Initiation
      type: object
      properties:
        Initiation:
          $ref: '#/components/schemas/OBInitiationDomestic'
        Authorisation:
          $ref: '#/components/schemas/OBAuthorisation'
    OBDataVRP:
      required:
        - ControlParameters
        - Initiation
      type: object
      properties:
        ControlParameters:
          $ref: '#/components/schemas/OBControlParameters'
        Initiation:
          $ref: '#/components/schemas/OBInitiationVRP'
    OBDataReq:
      required:
        - Initiation
      type: object
      properties:
        Initiation:
          $ref: '#/components/schemas/OBInitiationReq'
        Authorisation:
          $ref: '#/components/schemas/OBAuthorisation'
    OBDataListAccounts:
      required:
        - Initiation
      type: object
      properties:
        Initiation:
          $ref: '#/components/schemas/OBInitiationListAccounts'
        Authorisation:
          $ref: '#/components/schemas/OBAuthorisation'
    OBDataListPassports:
      required:
        - Initiation
      type: object
      properties:
        Initiation:
          $ref: '#/components/schemas/OBInitiationListPassports'
        Authorisation:
          $ref: '#/components/schemas/OBAuthorisation'
    OBInitiationDomestic:
      required:
        - amount
        - creditor
        - currency
        - endToEndIdentification
        - instructionIdentification
        - localInstrument
        - requestedExecutionDate
      type: object
      properties:
        instructionIdentification:
          $ref: '#/components/schemas/InstructionIdentification'
        endToEndIdentification:
          $ref: '#/components/schemas/EndToEndIdentification'
        localInstrument:
          $ref: '#/components/schemas/LocalInstrument'
        amount:
          $ref: '#/components/schemas/Amount'
        currency:
          $ref: '#/components/schemas/Currency'
        requestedExecutionDate:
          $ref: '#/components/schemas/RequestedExecutionDate'
        debtor:
          $ref: '#/components/schemas/OBDebtor'
        creditor:
          $ref: '#/components/schemas/OBCreditor'
        remmitanceInformation:
          $ref: '#/components/schemas/OBRemmitanceInformation'
        supplementaryData:
          $ref: '#/components/schemas/OBSupplementaryData'
    OBInstruction:
      required:
        - amount
        - creditor
        - currency
        - endToEndIdentification
        - instructionIdentification
        - localInstrument
      type: object
      properties:
        instructionIdentification:
          $ref: '#/components/schemas/InstructionIdentification'
        endToEndIdentification:
          $ref: '#/components/schemas/EndToEndIdentification'
        localInstrument:
          $ref: '#/components/schemas/LocalInstrument'
        amount:
          $ref: '#/components/schemas/Amount'
        currency:
          $ref: '#/components/schemas/Currency'
        creditor:
          $ref: '#/components/schemas/OBCreditor'
        remmitanceInformation:
          $ref: '#/components/schemas/OBRemmitanceInformation'
        supplementaryData:
          $ref: '#/components/schemas/OBSupplementaryData'
    OBInitiationVRP:
      required:
        - creditor
      type: object
      properties:
        amount:
          $ref: '#/components/schemas/Amount'
        currency:
          $ref: '#/components/schemas/Currency'
        debtor:
          $ref: '#/components/schemas/OBDebtor'
        creditor:
          $ref: '#/components/schemas/OBCreditor'
        remmitanceInformation:
          $ref: '#/components/schemas/OBRemmitanceInformation'
    OBControlParameters:
      required:
        - creditor
      type: object
      properties:
        fromPaymentDate:
          $ref: '#/components/schemas/FromPaymentDate'
        toPaymentDate:
          $ref: '#/components/schemas/ToPaymentDate'
        maximumIndividualAmount:
          $ref: '#/components/schemas/MaximumIndividualAmount'
        currency:
          $ref: '#/components/schemas/Currency'
        periodicLimits:
          $ref: '#/components/schemas/OBPeriodicLimits'
        supplementaryData:
          $ref: '#/components/schemas/OBSupplementaryData'
    MaximumIndividualAmount:
      pattern: '^[0-9]{1,13}$|^[0-9]{1,13}.[0-9]{1,5}$|^[0-9]{1,13}.[0-9]{1,2}$'
      type: string
      description: >-
        Максимальная единовременная сумма, которая может быть указана в
        платежной инструкции в соответствии с платежным указанием
      example: '2800.00'
    FromPaymentDate:
      type: string
      description: Дата начала действия платежного указания включительно
      format: date
      example: '2021-04-20'
    ToPaymentDate:
      type: string
      description: >-
        Дата, в которую денежные средства должны быть списаны со счета(-ов)
        плательщика
      format: date
      example: '2021-05-20'
    OBPeriodicLimits:
      type: array
      items:
        required:
          - amount
          - currency
          - periodType
        type: object
        properties:
          amount:
            $ref: '#/components/schemas/AmountPeriodicLimits'
          currency:
            $ref: '#/components/schemas/Currency'
          periodType:
            $ref: '#/components/schemas/PeriodType'
    AmountPeriodicLimits:
      pattern: '^[0-9]{1,13}$|^[0-9]{1,13}.[0-9]{1,5}$'
      type: string
      description: Лимит суммы рекуррентного платежа за определенный период
      example: '28000.00'
    PeriodType:
      type: string
      description: Тип периода
      example: Month
      enum:
        - Day
        - Week
        - Month
        - Quarter
        - Half-year
        - Year
    OBInitiationReq:
      required:
        - amount
        - creditor
        - currency
        - debtor
        - endToEndIdentification
        - instructionIdentification
        - localInstrument
        - requestedExecutionDate
      type: object
      properties:
        instructionIdentification:
          $ref: '#/components/schemas/InstructionIdentification'
        endToEndIdentification:
          $ref: '#/components/schemas/EndToEndIdentification'
        localInstrument:
          $ref: '#/components/schemas/LocalInstrument'
        amount:
          $ref: '#/components/schemas/Amount'
        currency:
          $ref: '#/components/schemas/Currency'
        requestedExecutionDate:
          $ref: '#/components/schemas/RequestedExecutionDate'
        debtor:
          $ref: '#/components/schemas/OBDebtor'
        creditor:
          $ref: '#/components/schemas/OBCreditor'
        remmitanceInformation:
          $ref: '#/components/schemas/OBRemmitanceInformation'
        enclosedFile:
          $ref: '#/components/schemas/OBEnclosedFile'
        supplementaryData:
          $ref: '#/components/schemas/OBSupplementaryData'
    OBInitiationListAccounts:
      required:
        - amount
        - creditor
        - currency
        - endToEndIdentification
        - instructionIdentification
        - listAccounts
        - localInstrument
        - requestedExecutionDate
      type: object
      properties:
        instructionIdentification:
          $ref: '#/components/schemas/InstructionIdentification'
        endToEndIdentification:
          $ref: '#/components/schemas/EndToEndIdentification'
        localInstrument:
          $ref: '#/components/schemas/LocalInstrument'
        amount:
          $ref: '#/components/schemas/Amount'
        currency:
          $ref: '#/components/schemas/Currency'
        requestedExecutionDate:
          $ref: '#/components/schemas/RequestedExecutionDate'
        debtor:
          $ref: '#/components/schemas/OBDebtor'
        creditor:
          $ref: '#/components/schemas/OBCreditorList'
        listAccounts:
          $ref: '#/components/schemas/OBListAccounts'
        remmitanceInformation:
          $ref: '#/components/schemas/OBRemmitanceInformationList'
        supplementaryData:
          $ref: '#/components/schemas/OBSupplementaryData'
    OBInitiationListPassports:
      required:
        - amount
        - creditor
        - currency
        - endToEndIdentification
        - instructionIdentification
        - listPassportData
        - localInstrument
        - requestedExecutionDate
      type: object
      properties:
        instructionIdentification:
          $ref: '#/components/schemas/InstructionIdentification'
        endToEndIdentification:
          $ref: '#/components/schemas/EndToEndIdentification'
        localInstrument:
          $ref: '#/components/schemas/LocalInstrument'
        amount:
          $ref: '#/components/schemas/Amount'
        currency:
          $ref: '#/components/schemas/Currency'
        requestedExecutionDate:
          $ref: '#/components/schemas/RequestedExecutionDate'
        debtor:
          $ref: '#/components/schemas/OBDebtor'
        creditor:
          $ref: '#/components/schemas/OBCreditorList'
        listPassportData:
          $ref: '#/components/schemas/OBListPassportData'
        remmitanceInformation:
          $ref: '#/components/schemas/OBRemmitanceInformationListPassport'
        supplementaryData:
          $ref: '#/components/schemas/OBSupplementaryData'
    OBRisk:
      type: object
      properties:
        paymentContextCode:
          $ref: '#/components/schemas/PaymentContextCode'
        merchantCategoryCode:
          $ref: '#/components/schemas/MerchantCategoryCode'
        merchantCustomerIdentification:
          $ref: '#/components/schemas/MerchantCustomerIdentification'
        postalAddress:
          $ref: '#/components/schemas/OBPostalAddress'
    PaymentContextCode:
      maxLength: 35
      minLength: 1
      type: string
      description: >-
        Код платежа из справочника PaymentContextStaticType. Коды инициирования
        платежа
      example: PartyToParty
    MerchantCategoryCode:
      maxLength: 4
      minLength: 3
      type: string
      description: >-
        Код категории, связанный с типом услуг или товаров, которые продавец
        предоставляет для транзакции. Используется согласно ISO 18245.
        Рекомендуется заполнять в платежах с кодом платежа EcommerceGoods и
        EcommerceServices
    MerchantCustomerIdentification:
      maxLength: 35
      minLength: 1
      type: string
      description: >-
        Уникальный идентификатор покупателя, который продавец присвоил Клиенту.
        Рекомендуется заполнять в платежах с кодом платежа EcommerceGoods и
        EcommerceServices
    OBPostalAddress:
      required:
        - country
        - townName
      type: object
      properties:
        country:
          $ref: '#/components/schemas/Country'
        countrySubDivision:
          $ref: '#/components/schemas/CountrySubDivision'
        townName:
          $ref: '#/components/schemas/TownName'
        townLocationName:
          $ref: '#/components/schemas/TownLocationName'
        postCode:
          $ref: '#/components/schemas/PostCode'
        streetName:
          $ref: '#/components/schemas/StreetName'
        buildingNumber:
          $ref: '#/components/schemas/BuildingNumber'
        addressLine:
          $ref: '#/components/schemas/AddressLine'
      description: >-
        Информация, которая позволяет найти и идентифицирует конкретный адрес в
        формате, устанавливаемом почтовыми службами . Рекомендуется заполнять в
        платежах с кодом платежа EcommerceGoods
    Country:
      pattern: '^[A-Z]{2}$'
      type: string
      description: Страна
    CountrySubDivision:
      maxLength: 35
      minLength: 1
      type: string
      description: Регион/область страны
    TownName:
      maxLength: 35
      minLength: 1
      type: string
      description: >-
        Название населенного пункта, согласно Единому реестру
        административно-территориальных и территориальных единиц Республики
        Беларусь с указанием типа населенного пункта (согласно справочнику N091)
        ) перед его названием через пробел
    TownLocationName:
      maxLength: 35
      minLength: 1
      type: string
      description: >-
        Конкретное наименование места в населенном пункте. Используется при
        необходимости для указания кода СОАТО в соответствии с ОКРБ 003-2017
        ”Система обозначений объектов административно-территориального деления и
        населенных пунктов“ и согласно справочнику N058
    PostCode:
      maxLength: 16
      minLength: 1
      type: string
      description: Почтовый индекс
    StreetName:
      maxLength: 70
      minLength: 1
      type: string
      description: >-
        Наименование улицы, согласно Реестру наименований улиц и дорог
        Национального кадастрового агентства с указанием типа элемента
        улично-дорожной сети (согласно справочнику N098) перед его названием
        через пробел
    BuildingNumber:
      maxLength: 16
      minLength: 1
      type: string
      description: Номер дома
    AddressLine:
      maxLength: 70
      minLength: 1
      type: string
      description: >-
        Информация, которая позволяет найти и идентифицирует конкретный адрес в
        соответствии с данными почтовых служб, в произвольном текстовом формате
    OBDataDomesticResp:
      required:
        - Initiation
        - creationDateTime
        - domesticConsentId
        - link
        - status
        - statusUpdateDateTime
      type: object
      properties:
        domesticConsentId:
          $ref: '#/components/schemas/DomesticConsentId'
        link:
          $ref: '#/components/schemas/Link'
        creationDateTime:
          $ref: '#/components/schemas/CreationDateTime'
        status:
          $ref: '#/components/schemas/PaymentConsentStatus'
        statusUpdateDateTime:
          $ref: '#/components/schemas/StatusUpdateDateTime'
        cutOffDateTime:
          $ref: '#/components/schemas/CutOffDateTime'
        expectedExecutionDate:
          $ref: '#/components/schemas/ExpectedExecutionDate'
        expectedSettlementDate:
          $ref: '#/components/schemas/ExpectedSettlementDate'
        Initiation:
          $ref: '#/components/schemas/OBInitiationDomestic'
        Authorisation:
          $ref: '#/components/schemas/OBAuthorisation'
        Charge:
          $ref: '#/components/schemas/OBCharge'
    OBDataVRPResp:
      required:
        - ControlParameters
        - Initiation
        - VRPConsentId
        - creationDateTime
        - link
        - status
        - statusUpdateDateTime
      type: object
      properties:
        VRPConsentId:
          $ref: '#/components/schemas/VRPConsentId'
        link:
          $ref: '#/components/schemas/LinkVRP'
        creationDateTime:
          $ref: '#/components/schemas/CreationDateTime'
        status:
          $ref: '#/components/schemas/PaymentConsentStatus'
        statusUpdateDateTime:
          $ref: '#/components/schemas/StatusUpdateDateTime'
        ControlParameters:
          $ref: '#/components/schemas/OBControlParameters'
        Initiation:
          $ref: '#/components/schemas/OBInitiationVRP'
    OBDataReqResp:
      required:
        - Initiation
        - creationDateTime
        - link
        - requirementConsentId
        - status
        - statusUpdateDateTime
      type: object
      properties:
        requirementConsentId:
          $ref: '#/components/schemas/RequirementConsentId'
        link:
          $ref: '#/components/schemas/LinkReq'
        creationDateTime:
          $ref: '#/components/schemas/CreationDateTime'
        status:
          $ref: '#/components/schemas/PaymentConsentStatus'
        statusUpdateDateTime:
          $ref: '#/components/schemas/StatusUpdateDateTime'
        cutOffDateTime:
          $ref: '#/components/schemas/CutOffDateTime'
        expectedExecutionDate:
          $ref: '#/components/schemas/ExpectedExecutionDate'
        expectedSettlementDate:
          $ref: '#/components/schemas/ExpectedSettlementDate'
        Initiation:
          $ref: '#/components/schemas/OBInitiationReq'
        Authorisation:
          $ref: '#/components/schemas/OBAuthorisation'
        Charge:
          $ref: '#/components/schemas/OBCharge'
    OBDataListAccountsResp:
      required:
        - Initiation
        - creationDateTime
        - link
        - listAccountsConsentId
        - status
        - statusUpdateDateTime
      type: object
      properties:
        listAccountsConsentId:
          $ref: '#/components/schemas/ListAccountsConsentId'
        link:
          $ref: '#/components/schemas/LinkListAccounts'
        creationDateTime:
          $ref: '#/components/schemas/CreationDateTime'
        status:
[...]
