openapi: 3.0.1
info:
  title: Песочница открытых банковских API
  description: Песочница открытых банковских API
  termsOfService: 'http://swagger.io/terms/'
  contact:
    email: apiteam@st.by
  version: '1'
servers:
  - url: 'https://paymentapi.st.by:8243/open-banking/v1.0'
  - url: 'http://paymentapi.st.by:8280/open-banking/v1.0'
tags:
  - name: DomesticConsents
    description: Платежное указание на инициирование платежного поручения
  - name: DomesticPayments
    description: Платежное поручение
  - name : DomesticTaxConsents
    description: Платежное указание на инициирование налогового платежа
  - name: DomesticTaxes
    description: Налоговый платеж
  - name: ListAccountsConsents
    description: Платежное указание на инициирование платежного поручения со списком счетов физических лиц
  - name: ListAccounts
    description: Платежное поручение со списком счетов физических лиц
  - name: ListPassportsConsents
    description: Платежное указание на инициирование платежного поручения со списком без открытия счетов физических лиц
  - name: ListPassports
    description: Платежное поручение со списком без открытия счетов физических лиц
  - name: RequirementConsents
    description: Платежное указание на выставление платежного требования
  - name: Requirements
    description: Платежное требование
  - name: TaxRequirementConsents
    description: Платежное указание на выставление платежного требования на уплату налогов (других платежей в бюджет)
  - name: TaxRequirements
    description: Платежное требование на уплату налогов (других платежей в бюджет)
  - name: VRPConsents
    description: Платежное указание на инициирование рекуррентного платежа
  - name: VRP
    description: Рекуррентный платеж
paths:
  /domesticConsents:
    post:
      tags:
        - DomesticConsents
      summary: "Создание платежного указания на инициирование платежного поручения"
      operationId: "CreatePaymentConsents"
      parameters:
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-idempotency-key"
        - $ref: "#/components/parameters/x-jws-signature"
        - $ref: "#/components/parameters/x-customer-user-agent"
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: "#/components/schemas/OBDomesticConsent"
          application/json:
            schema:
              $ref: "#/components/schemas/OBDomesticConsent"
          application/jose+jwe:
            schema:
              $ref: "#/components/schemas/OBDomesticConsent"
        description: "Default"
        required: true
      responses:
        201:
          $ref: "#/components/responses/201PaymentConsents"
        400:
          $ref: "#/components/responses/400Error"
        401:
          $ref: "#/components/responses/401Error"
        403:
          $ref: "#/components/responses/403Error"
        405:
          $ref: "#/components/responses/405Error"
        406:
          $ref: "#/components/responses/406Error"
        415:
          $ref: "#/components/responses/415Error"
        429:
          $ref: "#/components/responses/429Error"
        500:
          $ref: "#/components/responses/500Error"
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
          - api_key
        optional: false
  /domesticConsents/{domesticConsentId}:
    get:
      tags:
        - DomesticConsents
      summary: "Получение статуса платежного указания на инициирование платежного поручения"
      operationId: "GetPaymentConsentsByPaymentConsentId"
      parameters:
        - $ref: "#/components/parameters/DomesticConsentId"
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-customer-user-agent"
      responses:
        200:
          $ref: "#/components/responses/200PaymentConsents"
        400:
          $ref: "#/components/responses/400Error"
        401:
          $ref: "#/components/responses/401Error"
        403:
          $ref: "#/components/responses/403Error"
        405:
          $ref: "#/components/responses/405Error"
        406:
          $ref: "#/components/responses/406Error"
        429:
          $ref: "#/components/responses/429Error"
        500:
          $ref: "#/components/responses/500Error"
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
          - api_key
        optional: false
  /domesticPayments:
    post:
      tags:
        - DomesticPayments
      summary: "Создание платежного поручения"
      operationId: "CreateDomesticPayment"
      parameters:
        - $ref: "#/components/parameters/domesticConsentIdHeader"
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-idempotency-key"
        - $ref: "#/components/parameters/x-jws-signature"
        - $ref: "#/components/parameters/x-customer-user-agent"
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: "#/components/schemas/OBDomesticPayment"
          application/json:
            schema:
              $ref: "#/components/schemas/OBDomesticPayment"
          application/jose+jwe:
            schema:
              $ref: "#/components/schemas/OBDomesticPayment"
        description: "Default"
        required: true
      responses:
        201:
          $ref: "#/components/responses/201OBPayment1"
        400:
          $ref: "#/components/responses/400Error"
        401:
          $ref: "#/components/responses/401Error"
        403:
          $ref: "#/components/responses/403Error"
        405:
          $ref: "#/components/responses/405Error"
        406:
          $ref: "#/components/responses/406Error"
        415:
          $ref: "#/components/responses/415Error"
        429:
          $ref: "#/components/responses/429Error"
        500:
          $ref: "#/components/responses/500Error"
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
          - api_key
        optional: false
  /domestic/{domesticId}:
    get:
      tags:
        - DomesticPayments
      summary: "Получение статуса платежного поручения"
      operationId: "GetDomesticPaymentByDomesticId"
      parameters:
        - $ref: "#/components/parameters/domesticId"
        - $ref: "#/components/parameters/domesticConsentIdHeader"
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-customer-user-agent"
      responses:
        200:
          $ref: "#/components/responses/200OBPayment2"
        400:
          $ref: "#/components/responses/400Error"
        401:
          $ref: "#/components/responses/401Error"
        403:
          $ref: "#/components/responses/403Error"
        405:
          $ref: "#/components/responses/405Error"
        406:
          $ref: "#/components/responses/406Error"
        429:
          $ref: "#/components/responses/429Error"
        500:
          $ref: "#/components/responses/500Error"
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
          - api_key
        optional: false
  /paymentConsents/domesticTax:
    post:
      tags:
        - DomesticTaxConsents
      summary: "  Создание платежного указания на инициирование налогового платежа"
      operationId: "CreateDomesticTaxConsents"
      parameters:
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-idempotency-key"
        - $ref: "#/components/parameters/x-jws-signature"
        - $ref: "#/components/parameters/x-customer-user-agent"
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: "#/components/schemas/OBPaymentConsentTax"
          application/json:
            schema:
              $ref: "#/components/schemas/OBPaymentConsentTax"
          application/jose+jwe:
            schema:
              $ref: "#/components/schemas/OBPaymentConsentTax"
        description: "Default"
        required: true
      responses:
        201:
          $ref: "#/components/responses/201PaymentConsentsTax"
        400:
          $ref: "#/components/responses/400Error"
        401:
          $ref: "#/components/responses/401Error"
        403:
          $ref: "#/components/responses/403Error"
        405:
          $ref: "#/components/responses/405Error"
        406:
          $ref: "#/components/responses/406Error"
        415:
          $ref: "#/components/responses/415Error"
        429:
          $ref: "#/components/responses/429Error"
        500:
          $ref: "#/components/responses/500Error"
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
          - api_key
        optional: false
  /paymentConsents/domesticTax/{domesticTaxConsentId}:
    get:
      tags:
        - DomesticTaxConsents
      summary: "Получение статуса платежного указания на инициирование налогового платежа"
      operationId: "GetPaymentConsentsDomesticTaxByPaymentConsentId"
      parameters:
        - $ref: "#/components/parameters/domesticTaxConsentId"
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-customer-user-agent"
      responses:
        200:
          $ref: "#/components/responses/200PaymentConsentsTax"
        400:
          $ref: "#/components/responses/400Error"
        401:
          $ref: "#/components/responses/401Error"
        403:
          $ref: "#/components/responses/403Error"
        405:
          $ref: "#/components/responses/405Error"
        406:
          $ref: "#/components/responses/406Error"
        429:
          $ref: "#/components/responses/429Error"
        500:
          $ref: "#/components/responses/500Error"
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
          - api_key
        optional: false
  /payments/domesticTax:
    post:
      tags:
        - DomesticTaxes
      summary: "Создание налогового платежа"
      operationId: "CreateDomesticTaxPayment"
      parameters:
        - $ref: "#/components/parameters/domesticTaxConsentIdHeader"
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-idempotency-key"
        - $ref: "#/components/parameters/x-jws-signature"
        - $ref: "#/components/parameters/x-customer-user-agent"
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: "#/components/schemas/OBDomesticTaxPayment"
          application/json:
            schema:
              $ref: "#/components/schemas/OBDomesticTaxPayment"
          application/jose+jwe:
            schema:
              $ref: "#/components/schemas/OBDomesticTaxPayment"
        description: "Default"
        required: true
      responses:
        201:
          $ref: "#/components/responses/201OBTaxPayment1"
        400:
          $ref: "#/components/responses/400Error"
        401:
          $ref: "#/components/responses/401Error"
        403:
          $ref: "#/components/responses/403Error"
        405:
          $ref: "#/components/responses/405Error"
        406:
          $ref: "#/components/responses/406Error"
        415:
          $ref: "#/components/responses/415Error"
        429:
          $ref: "#/components/responses/429Error"
        500:
          $ref: "#/components/responses/500Error"
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
          - api_key
        optional: false
  /payments/domesticTax/{domesticTaxId}:
    get:
      tags:
        - DomesticTaxes
      summary: "Получение статуса налогового платежа"
      operationId: "GetDomesticTaxByDomesticTaxId"
      parameters:
        - $ref: "#/components/parameters/domesticTaxId"
        - $ref: "#/components/parameters/domesticTaxConsentIdHeader"
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-customer-user-agent"
      responses:
        200:
          $ref: "#/components/responses/200OBTaxPayment2"
        400:
          $ref: "#/components/responses/400Error"
        401:
          $ref: "#/components/responses/401Error"
        403:
          $ref: "#/components/responses/403Error"
        405:
          $ref: "#/components/responses/405Error"
        406:
          $ref: "#/components/responses/406Error"
        429:
          $ref: "#/components/responses/429Error"
        500:
          $ref: "#/components/responses/500Error"
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
          - api_key
        optional: false
  /paymentConsents/listAccounts:
    post:
      tags:
        - ListAccountsConsents
      summary: "Создание платежного указания на инициирование платежного поручения со списком счетов физических лиц"
      operationId: "SetPaymentsConsentsOfListAccounts"
      parameters:
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-idempotency-key"
        - $ref: "#/components/parameters/x-jws-signature"
        - $ref: "#/components/parameters/x-customer-user-agent"
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: "#/components/schemas/OBListAccountsConsent"
          application/json:
            schema:
              $ref: "#/components/schemas/OBListAccountsConsent"
          application/jose+jwe:
            schema:
              $ref: "#/components/schemas/OBListAccountsConsent"
        description: "Default"
        required: true
      responses:
        201:
          $ref: "#/components/responses/201PaymentConsentsListAccounts"
        400:
          $ref: "#/components/responses/400Error"
        401:
          $ref: "#/components/responses/401Error"
        403:
          $ref: "#/components/responses/403Error"
        405:
          $ref: "#/components/responses/405Error"
        406:
          $ref: "#/components/responses/406Error"
        415:
          $ref: "#/components/responses/415Error"
        429:
          $ref: "#/components/responses/429Error"
        500:
          $ref: "#/components/responses/500Error"
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
          - api_key
        optional: false
  /paymentConsents/listAccounts/{listAccountsConsentId}:
    get:
      tags:
        - ListAccountsConsents
      summary: "Получение статуса платежного указания на инициирование платежного поручения со списком счетов физических лиц"
      operationId: "GetPaymentsConsentsOfListAccountsByListAccountsConsentId"
      parameters:
        - $ref: "#/components/parameters/listAccountsConsentId"
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-customer-user-agent"
      responses:
        200:
          $ref: "#/components/responses/200PaymentConsentsListAccounts"
        400:
          $ref: "#/components/responses/400Error"
        401:
          $ref: "#/components/responses/401Error"
        403:
          $ref: "#/components/responses/403Error"
        405:
          $ref: "#/components/responses/405Error"
        406:
          $ref: "#/components/responses/406Error"
        429:
          $ref: "#/components/responses/429Error"
        500:
          $ref: "#/components/responses/500Error"
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
          - api_key
        optional: false
  /payments/listAccounts:
    post:
      tags:
        - ListAccounts
      summary: "Создание платежного поручения со списком счетов физических лиц"
      operationId: "SetPaymentsListAccounts"
      parameters:
        - $ref: "#/components/parameters/listAccountsConsentIdHeader"
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-idempotency-key"
        - $ref: "#/components/parameters/x-jws-signature"
        - $ref: "#/components/parameters/x-customer-user-agent"
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: "#/components/schemas/OBListAccountsPayment"
          application/json:
            schema:
              $ref: "#/components/schemas/OBListAccountsPayment"
          application/jose+jwe:
            schema:
              $ref: "#/components/schemas/OBListAccountsPayment"
        description: "Default"
        required: true
      responses:
        201:
          $ref: "#/components/responses/201OBPaymentListAccounts1"
        400:
          $ref: "#/components/responses/400Error"
        401:
          $ref: "#/components/responses/401Error"
        403:
          $ref: "#/components/responses/403Error"
        405:
          $ref: "#/components/responses/405Error"
        406:
          $ref: "#/components/responses/406Error"
        415:
          $ref: "#/components/responses/415Error"
        429:
          $ref: "#/components/responses/429Error"
        500:
          $ref: "#/components/responses/500Error"
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
          - api_key
        optional: false
  /payments/listAccounts/{listAccountsId}:
    get:
      tags:
        - ListAccounts
      summary: "Получение статуса платежного поручения со списком счетов физических лиц"
      operationId: "GetPaymentsListAccountsByListAccountsId"
      parameters:
        - $ref: "#/components/parameters/listAccountsId"
        - $ref: "#/components/parameters/listAccountsConsentIdHeader"
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-customer-user-agent"
      responses:
        200:
          $ref: "#/components/responses/200OBPaymentListAccounts2"
        400:
          $ref: "#/components/responses/400Error"
        401:
          $ref: "#/components/responses/401Error"
        403:
          $ref: "#/components/responses/403Error"
        405:
          $ref: "#/components/responses/405Error"
        406:
          $ref: "#/components/responses/406Error"
        429:
          $ref: "#/components/responses/429Error"
        500:
          $ref: "#/components/responses/500Error"
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
          - api_key
        optional: false
  /paymentConsents/listPassports:
    post:
      tags:
        - ListPassportsConsents
      summary: "Создание платежного указания на инициирование платежного поручения со списком без открытия счетов физических лиц"
      operationId: "SetPaymentConsentsByListPassports"
      parameters:
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-idempotency-key"
        - $ref: "#/components/parameters/x-jws-signature"
        - $ref: "#/components/parameters/x-customer-user-agent"
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: "#/components/schemas/OBListPassportsConsent"
          application/json:
            schema:
              $ref: "#/components/schemas/OBListPassportsConsent"
          application/jose+jwe:
            schema:
              $ref: "#/components/schemas/OBListPassportsConsent"
        description: "Default"
        required: true
      responses:
        201:
          $ref: "#/components/responses/201PaymentConsentsListPassports"
        400:
          $ref: "#/components/responses/400Error"
        401:
          $ref: "#/components/responses/401Error"
        403:
          $ref: "#/components/responses/403Error"
        405:
          $ref: "#/components/responses/405Error"
        406:
          $ref: "#/components/responses/406Error"
        415:
          $ref: "#/components/responses/415Error"
        429:
          $ref: "#/components/responses/429Error"
        500:
          $ref: "#/components/responses/500Error"
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
          - api_key
        optional: false
  /paymentConsents/listPassports/{listPassportsConsentId}:
    get:
      tags:
        - ListPassportsConsents
      summary: "Получение статуса платежного указания на инициирование платежного поручения со списком без открытия счетов физических лиц"
      operationId: "GetPaymentConsentsOfListPassportsByListPassportsConsentId"
      parameters:
        - $ref: "#/components/parameters/listPassportsConsentId"
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-customer-user-agent"
      responses:
        200:
          $ref: "#/components/responses/200PaymentConsentsListPassports"
        400:
          $ref: "#/components/responses/400Error"
        401:
          $ref: "#/components/responses/401Error"
        403:
          $ref: "#/components/responses/403Error"
        405:
          $ref: "#/components/responses/405Error"
        406:
          $ref: "#/components/responses/406Error"
        429:
          $ref: "#/components/responses/429Error"
        500:
          $ref: "#/components/responses/500Error"
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
          - api_key
        optional: false
  /payments/listPassports:
    post:
      tags:
        - ListPassports
      summary: "Создание платежного поручения со списком без открытия счетов физических лиц"
      operationId: "SetPaymentsByListPassports"
      parameters:
        - $ref: "#/components/parameters/listPassportsConsentIdHeader"
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-idempotency-key"
        - $ref: "#/components/parameters/x-jws-signature"
        - $ref: "#/components/parameters/x-customer-user-agent"
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: "#/components/schemas/OBListPassportsPayment"
          application/json:
            schema:
              $ref: "#/components/schemas/OBListPassportsPayment"
          application/jose+jwe:
            schema:
              $ref: "#/components/schemas/OBListPassportsPayment"
        description: "Default"
        required: true
      responses:
        201:
          $ref: "#/components/responses/201OBPaymentListPassports1"
        400:
          $ref: "#/components/responses/400Error"
        401:
          $ref: "#/components/responses/401Error"
        403:
          $ref: "#/components/responses/403Error"
        405:
          $ref: "#/components/responses/405Error"
        406:
          $ref: "#/components/responses/406Error"
        415:
          $ref: "#/components/responses/415Error"
        429:
          $ref: "#/components/responses/429Error"
        500:
          $ref: "#/components/responses/500Error"
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
          - api_key
        optional: false
  /payments/listPassports/{listPassportsId}:
    get:
      tags:
        - ListPassports
      summary: "Получение статуса платежного поручения со списком без открытия счетов физических лиц"
      operationId: "GetPaymentsByListPassportsId"
      parameters:
        - $ref: "#/components/parameters/listPassportsId"
        - $ref: "#/components/parameters/listPassportsConsentIdHeader"
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-customer-user-agent"
      responses:
        200:
          $ref: "#/components/responses/200OBPaymentListPassports2"
        400:
          $ref: "#/components/responses/400Error"
        401:
          $ref: "#/components/responses/401Error"
        403:
          $ref: "#/components/responses/403Error"
        405:
          $ref: "#/components/responses/405Error"
        406:
          $ref: "#/components/responses/406Error"
        429:
          $ref: "#/components/responses/429Error"
        500:
          $ref: "#/components/responses/500Error"
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
          - api_key
        optional: false
  /paymentConsents/Requirement:
    post:
      tags:
        - RequirementConsents
      summary: "Создание платежного указания на выставление платежного требования"
      operationId: "SetPaymentConsentsRequrement"
      parameters:
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-idempotency-key"
        - $ref: "#/components/parameters/x-jws-signature"
        - $ref: "#/components/parameters/x-customer-user-agent"
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: "#/components/schemas/OBReqConsent"
          application/json:
            schema:
              $ref: "#/components/schemas/OBReqConsent"
          application/jose+jwe:
            schema:
              $ref: "#/components/schemas/OBReqConsent"
        description: "Default"
        required: true
      responses:
        201:
          $ref: "#/components/responses/201ReqConsents"
        400:
          $ref: "#/components/responses/400Error"
        401:
          $ref: "#/components/responses/401Error"
        403:
          $ref: "#/components/responses/403Error"
        405:
          $ref: "#/components/responses/405Error"
        406:
          $ref: "#/components/responses/406Error"
        415:
          $ref: "#/components/responses/415Error"
        429:
          $ref: "#/components/responses/429Error"
        500:
          $ref: "#/components/responses/500Error"
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
          - api_key
        optional: false
  /paymentConsents/Requirement/{requirementConsentId}:
    get:
      tags:
        - RequirementConsents
      summary: "Получение статуса платежного указания на выставление платежного требования"
      operationId: "GetPaymentsByRequirementId"
      parameters:
        - $ref: "#/components/parameters/requirementConsentId"
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-customer-user-agent"
      responses:
        200:
          $ref: "#/components/responses/200ReqConsents"
        400:
          $ref: "#/components/responses/400Error"
        401:
          $ref: "#/components/responses/401Error"
        403:
          $ref: "#/components/responses/403Error"
        405:
          $ref: "#/components/responses/405Error"
        406:
          $ref: "#/components/responses/406Error"
        429:
          $ref: "#/components/responses/429Error"
        500:
          $ref: "#/components/responses/500Error"
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
          - api_key
        optional: false
  /payments/Requirements:
    post:
      tags:
        - Requirements
      summary: "Создание платежного требования"
      operationId: "SetPaymentsRequirements"
      parameters:
        - $ref: "#/components/parameters/requirementConsentIdHeader"
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-idempotency-key"
        - $ref: "#/components/parameters/x-jws-signature"
        - $ref: "#/components/parameters/x-customer-user-agent"
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: "#/components/schemas/OBReqPayment"
          application/json:
            schema:
              $ref: "#/components/schemas/OBReqPayment"
          application/jose+jwe:
            schema:
              $ref: "#/components/schemas/OBReqPayment"
        description: "Default"
        required: true
      responses:
        201:
          $ref: "#/components/responses/201OBPaymentReq1"
        400:
          $ref: "#/components/responses/400Error"
        401:
          $ref: "#/components/responses/401Error"
        403:
          $ref: "#/components/responses/403Error"
        405:
          $ref: "#/components/responses/405Error"
        406:
          $ref: "#/components/responses/406Error"
        415:
          $ref: "#/components/responses/415Error"
        429:
          $ref: "#/components/responses/429Error"
        500:
          $ref: "#/components/responses/500Error"
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
          - api_key
        optional: false
  /payments/Requirements/{requirementId}:
    get:
      tags:
        - Requirements
      summary: "Получение статуса платежного требования"
      operationId: "GetPaymentsRequirimentsByRequirementId"
      parameters:
        - $ref: "#/components/parameters/requirementId"
        - $ref: "#/components/parameters/requirementConsentIdHeader"
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-customer-user-agent"
      responses:
        200:
          $ref: "#/components/responses/200OBPaymentReq2"
        400:
          $ref: "#/components/responses/400Error"
        401:
          $ref: "#/components/responses/401Error"
        403:
          $ref: "#/components/responses/403Error"
        405:
          $ref: "#/components/responses/405Error"
        406:
          $ref: "#/components/responses/406Error"
        429:
          $ref: "#/components/responses/429Error"
        500:
          $ref: "#/components/responses/500Error"
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
          - api_key
        optional: false
  /paymentConsents/TaxRequirement:
    post:
      tags:
        - TaxRequirementConsents
      summary: "Создание платежное указание на выставление платежного требования на уплату налогов (других платежей в бюджет)"
      operationId: "SetPaymentConsentsTaxRequirement"
      parameters:
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-idempotency-key"
        - $ref: "#/components/parameters/x-jws-signature"
        - $ref: "#/components/parameters/x-customer-user-agent"
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: "#/components/schemas/OBPaymentConsentTaxReq"
          application/json:
            schema:
              $ref: "#/components/schemas/OBPaymentConsentTaxReq"
          application/jose+jwe:
            schema:
              $ref: "#/components/schemas/OBPaymentConsentTaxReq"
        description: "Default"
        required: true
      responses:
        201:
          $ref: "#/components/responses/201PaymentConsentsTaxReq"
        400:
          $ref: "#/components/responses/400Error"
        401:
          $ref: "#/components/responses/401Error"
        403:
          $ref: "#/components/responses/403Error"
        405:
          $ref: "#/components/responses/405Error"
        406:
          $ref: "#/components/responses/406Error"
        415:
          $ref: "#/components/responses/415Error"
        429:
          $ref: "#/components/responses/429Error"
        500:
          $ref: "#/components/responses/500Error"
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
          - api_key
        optional: false
  /paymentConsents/TaxRequirement/{taxRequirementConsentId}:
    get:
      tags:
        - TaxRequirementConsents
      summary: "Получение статуса платежного указания на выставление платежного требования на уплату налогов (других платежей в бюджет)"
      operationId: "GetPaymentConsentsTaxRequirementByTaxRequirementConsentId"
      parameters:
        - $ref: "#/components/parameters/taxRequirementConsentId"
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-customer-user-agent"
      responses:
        200:
          $ref: "#/components/responses/200PaymentConsentsTaxReq"
        400:
          $ref: "#/components/responses/400Error"
        401:
          $ref: "#/components/responses/401Error"
        403:
          $ref: "#/components/responses/403Error"
        405:
          $ref: "#/components/responses/405Error"
        406:
          $ref: "#/components/responses/406Error"
        429:
          $ref: "#/components/responses/429Error"
        500:
          $ref: "#/components/responses/500Error"
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
          - api_key
        optional: false
  /payments/TaxRequirements:
    post:
      tags:
        - TaxRequirements
      summary: "Создание платежного требования на уплату налогов (других платежей в бюджет)"
      operationId: "SetPaymentsTaxRequirements"
      parameters:
        - $ref: "#/components/parameters/taxRequirementConsentIdHeader"
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-idempotency-key"
        - $ref: "#/components/parameters/x-jws-signature"
        - $ref: "#/components/parameters/x-customer-user-agent"
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: "#/components/schemas/OBReqTaxPayment"
          application/json:
            schema:
              $ref: "#/components/schemas/OBReqTaxPayment"
          application/jose+jwe:
            schema:
              $ref: "#/components/schemas/OBReqTaxPayment"
        description: "Default"
        required: true
      responses:
        201:
          $ref: "#/components/responses/201OBTaxPaymentReq1"
        400:
          $ref: "#/components/responses/400Error"
        401:
          $ref: "#/components/responses/401Error"
        403:
          $ref: "#/components/responses/403Error"
        405:
          $ref: "#/components/responses/405Error"
        406:
          $ref: "#/components/responses/406Error"
        415:
          $ref: "#/components/responses/415Error"
        429:
          $ref: "#/components/responses/429Error"
        500:
          $ref: "#/components/responses/500Error"
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
          - api_key
        optional: false
  /payments/TaxRequirements/{taxRequirementId}:
    get:
      tags:
        - TaxRequirements
      summary: "Получение статуса платежного требования на уплату налогов (других платежей в бюджет)"
      operationId: "GetPaymentsTaxRequirementsByTaxRequirementId"
      parameters:
        - $ref: "#/components/parameters/taxRequirementId"
        - $ref: "#/components/parameters/taxRequirementConsentIdHeader"
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-customer-user-agent"
      responses:
        200:
          $ref: "#/components/responses/200OBTaxPaymentReq2"
        400:
          $ref: "#/components/responses/400Error"
        401:
          $ref: "#/components/responses/401Error"
        403:
          $ref: "#/components/responses/403Error"
        405:
          $ref: "#/components/responses/405Error"
        406:
          $ref: "#/components/responses/406Error"
        429:
          $ref: "#/components/responses/429Error"
        500:
          $ref: "#/components/responses/500Error"
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
          - api_key
        optional: false
  /paymentConsents/VRP:
    post:
      tags:
        - VRPConsents
      summary: "Создание платежного указания на инициирование рекуррентного платежа"
      operationId: "SetPaymentConsentsVRP"
      parameters:
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-idempotency-key"
        - $ref: "#/components/parameters/x-jws-signature"
        - $ref: "#/components/parameters/x-customer-user-agent"
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: "#/components/schemas/OBVRPConsent"
          application/json:
            schema:
              $ref: "#/components/schemas/OBVRPConsent"
          application/jose+jwe:
            schema:
              $ref: "#/components/schemas/OBVRPConsent"
        description: "Default"
        required: true
      responses:
        201:
          $ref: "#/components/responses/201VRPConsents"
        400:
          $ref: "#/components/responses/400Error"
        401:
          $ref: "#/components/responses/401Error"
        403:
          $ref: "#/components/responses/403Error"
        405:
          $ref: "#/components/responses/405Error"
        406:
          $ref: "#/components/responses/406Error"
        415:
          $ref: "#/components/responses/415Error"
        429:
          $ref: "#/components/responses/429Error"
        500:
          $ref: "#/components/responses/500Error"
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
          - api_key
        optional: false
  /paymentConsents/VRP/{VRPConsentId}:
    get:
      tags:
        - VRPConsents
      summary: "Получение статуса платежного указания на инициирование рекуррентного платежа"
      operationId: "GetPaymentConsentsVPRByVRPConsentId"
      parameters:
        - $ref: "#/components/parameters/VRPConsentId"
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-customer-user-agent"
      responses:
        200:
          $ref: "#/components/responses/200VRPConsents"
        400:
          $ref: "#/components/responses/400Error"
        401:
          $ref: "#/components/responses/401Error"
        403:
          $ref: "#/components/responses/403Error"
        405:
          $ref: "#/components/responses/405Error"
        406:
          $ref: "#/components/responses/406Error"
        429:
          $ref: "#/components/responses/429Error"
        500:
          $ref: "#/components/responses/500Error"
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
          - api_key
        optional: false
    delete:
      tags:
        - VRPConsents
      summary: "Удаление (отзыв) платежного указания на инициирование рекуррентного платежа"
      operationId: "DeletePaymentConsentsVPRByVPRConsentId"
      parameters:
        - $ref: "#/components/parameters/VRPConsentId"
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-customer-user-agent"
      responses:
        '204':
          $ref: '#/components/responses/204PaymentConsentIdDeleted'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
          - api_key
        optional: false
  /payments/VRP:
    post:
      tags:
        - VRP
      summary: "Создание рекуррентного платежа"
      operationId: "SetPaymentsVRP"
      parameters:
        - $ref: "#/components/parameters/VRPConsentIdHeader"
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-idempotency-key"
        - $ref: "#/components/parameters/x-jws-signature"
        - $ref: "#/components/parameters/x-customer-user-agent"
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: "#/components/schemas/OBVRPPayment"
          application/json:
            schema:
              $ref: "#/components/schemas/OBVRPPayment"
          application/jose+jwe:
            schema:
              $ref: "#/components/schemas/OBVRPPayment"
        description: "Default"
        required: true
      responses:
        201:
          $ref: "#/components/responses/201OBVRP1"
        400:
          $ref: "#/components/responses/400Error"
        401:
          $ref: "#/components/responses/401Error"
        403:
          $ref: "#/components/responses/403Error"
        405:
          $ref: "#/components/responses/405Error"
        406:
          $ref: "#/components/responses/406Error"
        415:
          $ref: "#/components/responses/415Error"
        429:
          $ref: "#/components/responses/429Error"
        500:
          $ref: "#/components/responses/500Error"
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
          - api_key
        optional: false
  /payments/VRP/{VRPId}:
    get:
      tags:
        - VRP
      summary: "Получение статуса рекуррентного платежа"
      operationId: "GetPaymentsVRPbyVRPid"
      parameters:
        - $ref: "#/components/parameters/VRPId"
        - $ref: "#/components/parameters/VRPConsentIdHeader"
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-customer-user-agent"
      responses:
        200:
          $ref: "#/components/responses/200OBVRP2"
        400:
          $ref: "#/components/responses/400Error"
        401:
          $ref: "#/components/responses/401Error"
        403:
          $ref: "#/components/responses/403Error"
        405:
          $ref: "#/components/responses/405Error"
        406:
          $ref: "#/components/responses/406Error"
        429:
          $ref: "#/components/responses/429Error"
        500:
          $ref: "#/components/responses/500Error"
      security:
        - default: []
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      x-wso2-application-security:
        security-types:
          - oauth2
          - api_key
        optional: false
components:
  schemas:
    OBDomesticConsent:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataDomestic'
        Risk:
          $ref: '#/components/schemas/OBRisk'
    OBVRPConsent:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataVRP'
        Risk:
          $ref: '#/components/schemas/OBRisk'
    OBReqConsent:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataReq'
        Risk:
          $ref: '#/components/schemas/OBRisk'
    OBListAccountsConsent:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataListAccounts'
    OBListPassportsConsent:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataListPassports'
    OBPaymentConsentTax:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataTaxDomestic'
    OBPaymentConsentTaxReq:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataTaxReq'
    OBPaymentConsentListAccounts1:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataListAccountsResp'
    OBPaymentConsentListPassports1:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataListPassportsResp'
    OBPaymentConsent1:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataDomesticResp'
    OBVRPConsent1:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataVRPResp'
        Risk:
          $ref: '#/components/schemas/OBRisk'
    OBReqConsent1:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataReqResp'
    OBPaymentConsent2:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataDomesticResp1'
        Risk:
          $ref: '#/components/schemas/OBRisk'
    OBVRPConsent2:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataVRPResp1'
        Risk:
          $ref: '#/components/schemas/OBRisk'
    OBReqConsent2:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataReqResp1'
        Risk:
          $ref: '#/components/schemas/OBRisk'
    OBPaymentConsentListAccounts2:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataListAccountsResp1'
    OBPaymentConsentListPassports2:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataListPassportsResp1'
    OBPaymentConsentTax1:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataTax'
    OBPaymentConsentTaxReq1:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataTaxReq1'
    OBPaymentConsentTax2:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataTax1'
    OBPaymentConsentTaxReq2:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataTaxReq2'
    OBDomesticPayment:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataDomesticPayment'
        Risk:
          $ref: '#/components/schemas/OBRisk'
    OBVRPPayment:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataVRPPayment'
        Risk:
          $ref: '#/components/schemas/OBRisk'
    OBReqPayment:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataReqPayment'
        Risk:
          $ref: '#/components/schemas/OBRisk'
    OBListAccountsPayment:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataListAccountsPayment'
    OBListPassportsPayment:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataListPassportsPayment'
    OBDomesticTaxPayment:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataDomesticTaxPayment'
    OBReqTaxPayment:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataReqTaxPayment'
    OBPayment1:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataPayment1'
        Risk:
          $ref: '#/components/schemas/OBRisk'
    OBVRP1:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataVRP1'
        Risk:
          $ref: '#/components/schemas/OBRisk'
    OBPaymentReq1:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataPaymentReq1'
        Risk:
          $ref: '#/components/schemas/OBRisk'
    OBPaymentListAccounts1:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataPaymentListAccounts1'
    OBPaymentListPassports1:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataPaymentListPassports1'
    OBTaxPayment1:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataTaxPayment1'
    OBTaxPaymentReq1:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataTaxPaymentReq1'
    OBPayment2:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataPayment2'
        Risk:
          $ref: '#/components/schemas/OBRisk'
    OBVRP2:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataVRP2'
        Risk:
          $ref: '#/components/schemas/OBRisk'
    OBPaymentReq2:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataPaymentReq2'
        Risk:
          $ref: '#/components/schemas/OBRisk'
    OBPaymentListAccounts2:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataPaymentListAccounts2'
    OBPaymentListPassports2:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataPaymentListPassports2'
    OBTaxPayment2:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataTaxPayment2'
    OBTaxPaymentReq2:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataTaxPaymentReq2'
    OBPaymentStatus:
      type: object
      properties:
        Data:
          $ref: '#/components/schemas/OBDataPaymentStatus'
    OBDataDomesticPayment:
      type: object
      required:
        - domesticConsentId
        - Initiation
      properties:
        domesticConsentId:
          $ref: '#/components/schemas/DomesticConsentId'
        Initiation:
          $ref: '#/components/schemas/OBInitiationDomestic'
    OBDataVRPPayment:
      type: object
      required:
        - VRPConsentId
        - Initiation
        - Instruction
      properties:
        VRPConsentId:
          $ref: '#/components/schemas/VRPConsentId'
        Initiation:
          $ref: '#/components/schemas/OBInitiationVRP'
        Instruction:
          $ref: '#/components/schemas/OBInstruction'
    OBDataReqPayment:
      type: object
      required:
        - requirementConsentId
        - Initiation
      properties:
        requirementConsentId:
          $ref: '#/components/schemas/RequirementConsentId'
        Initiation:
          $ref: '#/components/schemas/OBInitiationReq'
    OBDataListAccountsPayment:
      type: object
      required:
        - listAccountsConsentId
        - Initiation
      properties:
        listAccountsConsentId:
          $ref: '#/components/schemas/ListAccountsConsentId'
        Initiation:
          $ref: '#/components/schemas/OBInitiationListAccounts'
    OBDataListPassportsPayment:
      type: object
      required:
        - listPassportsConsentId
        - Initiation
      properties:
        listPassportsConsentId:
          $ref: '#/components/schemas/ListPassportsConsentId'
        Initiation:
          $ref: '#/components/schemas/OBInitiationListPassports'
    OBDataDomesticTaxPayment:
      type: object
      required:
        - domesticTaxConsentId
        - Initiation
      properties:
        domesticTaxConsentId:
          $ref: '#/components/schemas/DomesticTaxConsentId'
        Initiation:
          $ref: '#/components/schemas/OBInitiationTaxDomestic'
    OBDataReqTaxPayment:
      type: object
      required:
        - taxRequirementConsentId
        - Initiation
      properties:
        taxRequirementConsentId:
          $ref: '#/components/schemas/TaxRequirementConsentId'
        Initiation:
          $ref: '#/components/schemas/OBInitiationTaxReq'
    OBDataPayment1:
      type: object
      required:
        - Initiation
        - domesticConsentId
        - domesticId
        - creationDateTime
        - PaymentStatus
      properties:
        domesticId:
          $ref: '#/components/schemas/DomesticId'
        domesticConsentId:
          $ref: '#/components/schemas/DomesticConsentId'
        creationDateTime:
          $ref: '#/components/schemas/CreationDateTime'
        expectedExecutionDate:
          $ref: '#/components/schemas/ExpectedExecutionDate'
        expectedSettlementDate:
          $ref: '#/components/schemas/ExpectedSettlementDate'
        Initiation:
          $ref: '#/components/schemas/OBInitiationDomestic'
        Multiauthorisation:
          $ref: '#/components/schemas/OBMultiAuthorisation'
        Charge:
          $ref: '#/components/schemas/OBCharge'
        PaymentStatus:
          $ref: '#/components/schemas/OBDataPaymentStatus'
    OBDataVRP1:
      type: object
      required:
        - Initiation
        - Instruction
        - VRPConsentId
        - VRPId
        - creationDateTime
        - PaymentStatus
      properties:
        VRPId:
          $ref: '#/components/schemas/VRPId'
        VRPConsentId:
          $ref: '#/components/schemas/VRPConsentId'
        creationDateTime:
          $ref: '#/components/schemas/CreationDateTime'
        expectedExecutionDate:
          $ref: '#/components/schemas/ExpectedExecutionDate'
        expectedSettlementDate:
          $ref: '#/components/schemas/ExpectedSettlementDate'
        Initiation:
          $ref: '#/components/schemas/OBInitiationVRP'
        Instruction:
          $ref: '#/components/schemas/OBInstruction'
        Charge:
          $ref: '#/components/schemas/OBCharge'
        PaymentStatus:
          $ref: '#/components/schemas/OBDataPaymentStatus'
    OBDataPaymentReq1:
      type: object
      required:
        - Initiation
        - requirementConsentId
        - requirementId
        - creationDateTime
        - PaymentStatus
      properties:
        requirementId:
          $ref: '#/components/schemas/RequirementId'
        requirementConsentId:
          $ref: '#/components/schemas/RequirementConsentId'
        creationDateTime:
          $ref: '#/components/schemas/CreationDateTime'
        expectedExecutionDate:
          $ref: '#/components/schemas/ExpectedExecutionDate'
        expectedSettlementDate:
          $ref: '#/components/schemas/ExpectedSettlementDate'
        Initiation:
          $ref: '#/components/schemas/OBInitiationDomestic'
        Multiauthorisation:
          $ref: '#/components/schemas/OBMultiAuthorisation'
        Charge:
          $ref: '#/components/schemas/OBCharge'
        PaymentStatus:
          $ref: '#/components/schemas/OBDataPaymentStatus'
    OBDataPaymentListAccounts1:
      type: object
      required:
        - Initiation
        - listAccountsConsentId
        - listAccountsId
        - creationDateTime
        - PaymentStatus
      properties:
        listAccountsId:
          $ref: '#/components/schemas/ListAccountsId'
        listAccountsConsentId:
          $ref: '#/components/schemas/ListAccountsConsentId'
        creationDateTime:
          $ref: '#/components/schemas/CreationDateTime'
        expectedExecutionDate:
          $ref: '#/components/schemas/ExpectedExecutionDate'
        expectedSettlementDate:
          $ref: '#/components/schemas/ExpectedSettlementDate'
        Initiation:
          $ref: '#/components/schemas/OBInitiationListAccounts'
        Multiauthorisation:
          $ref: '#/components/schemas/OBMultiAuthorisation'
        Charge:
          $ref: '#/components/schemas/OBCharge'
        PaymentStatus:
          $ref: '#/components/schemas/OBDataPaymentStatus'
    OBDataPaymentListPassports1:
      type: object
      required:
        - Initiation
        - listPassportsConsentId
        - listPassportsId
        - creationDateTime
        - PaymentStatus
      properties:
        listPassportsId:
          $ref: '#/components/schemas/ListPassportsId'
        listPassportsConsentId:
          $ref: '#/components/schemas/ListPassportsConsentId'
        creationDateTime:
          $ref: '#/components/schemas/CreationDateTime'
        expectedExecutionDate:
          $ref: '#/components/schemas/ExpectedExecutionDate'
        expectedSettlementDate:
          $ref: '#/components/schemas/ExpectedSettlementDate'
        Initiation:
          $ref: '#/components/schemas/OBInitiationListPassports'
        Multiauthorisation:
          $ref: '#/components/schemas/OBMultiAuthorisation'
        Charge:
          $ref: '#/components/schemas/OBCharge'
        PaymentStatus:
          $ref: '#/components/schemas/OBDataPaymentStatus'
    OBDataTaxPayment1:
      type: object
      required:
        - Initiation
        - domesticTaxConsentId
        - domesticTaxId
        - creationDateTime
        - PaymentStatus
      properties:
        domesticTaxId:
          $ref: '#/components/schemas/DomesticTaxId'
        domesticTaxConsentId:
          $ref: '#/components/schemas/DomesticTaxConsentId'
        creationDateTime:
          $ref: '#/components/schemas/CreationDateTime'
        expectedExecutionDate:
          $ref: '#/components/schemas/ExpectedExecutionDate'
        expectedSettlementDate:
          $ref: '#/components/schemas/ExpectedSettlementDate'
        Initiation:
          $ref: '#/components/schemas/OBInitiationTaxDomestic'
        Multiauthorisation:
          $ref: '#/components/schemas/OBMultiAuthorisation'
        PaymentStatus:
          $ref: '#/components/schemas/OBDataPaymentStatus'
    OBDataTaxPaymentReq1:
      type: object
      required:
        - Initiation
        - taxRequirementConsentId
        - taxRequirementId
        - creationDateTime
        - PaymentStatus
      properties:
        taxRequirementConsentId:
          $ref: '#/components/schemas/TaxRequirementConsentId'
        taxRequirementId:
          $ref: '#/components/schemas/TaxRequirementId'
        creationDateTime:
          $ref: '#/components/schemas/CreationDateTime'
        expectedExecutionDate:
          $ref: '#/components/schemas/ExpectedExecutionDate'
        expectedSettlementDate:
          $ref: '#/components/schemas/ExpectedSettlementDate'
        Initiation:
          $ref: '#/components/schemas/OBInitiationTaxReq'
        Multiauthorisation:
          $ref: '#/components/schemas/OBMultiAuthorisation'
        PaymentStatus:
          $ref: '#/components/schemas/OBDataPaymentStatus'
    OBDataPayment2:
      type: object
      required:
        - Initiation
        - domesticConsentId
        - domesticId
        - creationDateTime
        - PaymentStatus
      properties:
        domesticId:
          $ref: '#/components/schemas/DomesticId'
        domesticConsentId:
          $ref: '#/components/schemas/DomesticConsentId'
        creationDateTime:
          $ref: '#/components/schemas/CreationDateTime'
        expectedExecutionDate:
          $ref: '#/components/schemas/ExpectedExecutionDate'
        expectedSettlementDate:
          $ref: '#/components/schemas/ExpectedSettlementDate'
        Initiation:
          $ref: '#/components/schemas/OBInitiationDomestic'
        Multiauthorisation:
          $ref: '#/components/schemas/OBMultiAuthorisation'
        Charge:
          $ref: '#/components/schemas/OBCharge'
        PaymentStatus:
          $ref: '#/components/schemas/OBDataPaymentStatusGet'
    OBDataVRP2:
      type: object
      required:
        - Initiation
        - Instruction
        - VRPConsentId
        - VRPId
        - creationDateTime
        - PaymentStatus
      properties:
        VRPId:
          $ref: '#/components/schemas/VRPId'
        VRPConsentId:
          $ref: '#/components/schemas/VRPConsentId'
        creationDateTime:
          $ref: '#/components/schemas/CreationDateTime'
        expectedExecutionDate:
          $ref: '#/components/schemas/ExpectedExecutionDate'
        expectedSettlementDate:
          $ref: '#/components/schemas/ExpectedSettlementDate'
        Initiation:
          $ref: '#/components/schemas/OBInitiationVRP'
        Instruction:
          $ref: '#/components/schemas/OBInstruction'
        Charge:
          $ref: '#/components/schemas/OBCharge'
        PaymentStatus:
          $ref: '#/components/schemas/OBDataPaymentStatusGet'
    OBDataPaymentReq2:
      type: object
      required:
        - Initiation
        - requirementConsentId
        - requirementId
        - creationDateTime
        - PaymentStatus
      properties:
        requirementId:
          $ref: '#/components/schemas/RequirementId'
        requirementConsentId:
          $ref: '#/components/schemas/RequirementConsentId'
        creationDateTime:
          $ref: '#/components/schemas/CreationDateTime'
        expectedExecutionDate:
          $ref: '#/components/schemas/ExpectedExecutionDate'
        expectedSettlementDate:
          $ref: '#/components/schemas/ExpectedSettlementDate'
        Initiation:
          $ref: '#/components/schemas/OBInitiationReq'
        Multiauthorisation:
          $ref: '#/components/schemas/OBMultiAuthorisation'
        Charge:
          $ref: '#/components/schemas/OBCharge'
        PaymentStatus:
          $ref: '#/components/schemas/OBDataPaymentStatusGet'
    OBDataPaymentListAccounts2:
      type: object
      required:
        - Initiation
        - listAccountsConsentId
        - listAccountsId
        - creationDateTime
        - PaymentStatus
      properties:
        listAccountsId:
          $ref: '#/components/schemas/ListAccountsId'
        listAccountsConsentId:
          $ref: '#/components/schemas/ListAccountsConsentId'
        creationDateTime:
          $ref: '#/components/schemas/CreationDateTime'
        expectedExecutionDate:
          $ref: '#/components/schemas/ExpectedExecutionDate'
        expectedSettlementDate:
          $ref: '#/components/schemas/ExpectedSettlementDate'
        Initiation:
          $ref: '#/components/schemas/OBInitiationListAccounts'
        Multiauthorisation:
          $ref: '#/components/schemas/OBMultiAuthorisation'
        Charge:
          $ref: '#/components/schemas/OBCharge'
        PaymentStatus:
          $ref: '#/components/schemas/OBDataPaymentStatusGet'
    OBDataPaymentListPassports2:
      type: object
      required:
        - Initiation
        - listPassportsConsentId
        - listPassportsId
        - creationDateTime
        - PaymentStatus
      properties:
        listPassportsId:
          $ref: '#/components/schemas/ListPassportsId'
        listPassportsConsentId:
          $ref: '#/components/schemas/ListPassportsConsentId'
        creationDateTime:
          $ref: '#/components/schemas/CreationDateTime'
        expectedExecutionDate:
          $ref: '#/components/schemas/ExpectedExecutionDate'
        expectedSettlementDate:
          $ref: '#/components/schemas/ExpectedSettlementDate'
        Initiation:
          $ref: '#/components/schemas/OBInitiationListPassports'
        Multiauthorisation:
          $ref: '#/components/schemas/OBMultiAuthorisation'
        Charge:
          $ref: '#/components/schemas/OBCharge'
        PaymentStatus:
          $ref: '#/components/schemas/OBDataPaymentStatusGet'
    OBDataTaxPayment2:
      type: object
      required:
        - Initiation
        - domesticTaxConsentId
        - domesticTaxId
        - creationDateTime
        - PaymentStatus
      properties:
        domesticTaxId:
          $ref: '#/components/schemas/DomesticTaxId'
        domesticTaxConsentId:
          $ref: '#/components/schemas/DomesticTaxConsentId'
        creationDateTime:
          $ref: '#/components/schemas/CreationDateTime'
        expectedExecutionDate:
          $ref: '#/components/schemas/ExpectedExecutionDate'
        expectedSettlementDate:
          $ref: '#/components/schemas/ExpectedSettlementDate'
        Initiation:
          $ref: '#/components/schemas/OBInitiationTaxDomestic'
        Multiauthorisation:
          $ref: '#/components/schemas/OBMultiAuthorisation'
        PaymentStatus:
          $ref: '#/components/schemas/OBDataPaymentStatusGet'
    OBDataTaxPaymentReq2:
      type: object
      required:
        - Initiation
        - taxRequirementConsentId
        - taxRequirementId
        - creationDateTime
        - PaymentStatus
      properties:
        taxRequirementId:
          $ref: '#/components/schemas/TaxRequirementId'
        taxRequirementConsentId:
          $ref: '#/components/schemas/TaxRequirementConsentId'
        creationDateTime:
          $ref: '#/components/schemas/CreationDateTime'
        expectedExecutionDate:
          $ref: '#/components/schemas/ExpectedExecutionDate'
        expectedSettlementDate:
          $ref: '#/components/schemas/ExpectedSettlementDate'
        Initiation:
          $ref: '#/components/schemas/OBInitiationTaxReq'
        Multiauthorisation:
          $ref: '#/components/schemas/OBMultiAuthorisation'
        PaymentStatus:
          $ref: '#/components/schemas/OBDataPaymentStatusGet'
    OBDataPaymentStatus:
      type: object
      required:
        - paymentStatus
        - statusUpdateDateTime
      properties:
        paymentStatus:
          $ref: '#/components/schemas/PaymentStatus'
        statusUpdateDateTime:
          $ref: '#/components/schemas/StatusUpdateDateTime1'
        statusReasonInformation:
          $ref: '#/components/schemas/StatusReasonInformation'
    OBDataPaymentStatusGet:
      type: object
      required:
        - paymentStatus
        - statusUpdateDateTime
      properties:
        paymentStatus:
          $ref: '#/components/schemas/PaymentStatusGet'
        statusUpdateDateTime:
          $ref: '#/components/schemas/StatusUpdateDateTime1Get'
        statusReasonInformation:
          $ref: '#/components/schemas/StatusReasonInformation'
    PaymentStatus:
      type: string
      maxLength: 4
      minLength: 1
      description: 'Код статуса платежа согласно справочника ISO E065'
      example: 'PDNG'
    PaymentStatusGet:
      type: string
      maxLength: 4
      minLength: 1
      description: 'Код статуса платежа согласно справочника ISO E065'
      example: 'ACCC'
    StatusReasonInformation:
      type: object
      required:
        - statusReasonCode
      properties:
        statusReasonCode:
          $ref: '#/components/schemas/StatusReasonCode'
        additionalInformation:
          $ref: '#/components/schemas/AdditionalInformation'
    StatusReasonCode:
      type: string
      maxLength: 4
      minLength: 1
      description: 'Код причины отмены транзакции'
    OBDataTaxDomestic:
      type: object
      required:
        - Initiation
      properties:
        Initiation:
          $ref: '#/components/schemas/OBInitiationTaxDomestic'
        Authorisation:
          $ref: '#/components/schemas/OBAuthorisation'
    OBDataTaxReq:
      type: object
      required:
        - Initiation
      properties:
        Initiation:
          $ref: '#/components/schemas/OBInitiationTaxReq'
        Authorisation:
          $ref: '#/components/schemas/OBAuthorisation'
    OBInitiationTaxDomestic:
      required:
        - instructionIdentification
        - endToEndIdentification
        - localInstrument
        - amount
        - currency
        - requestedExecutionDate
        - creditor
        - taxRemmitance
      type: object
      properties:
        instructionIdentification:
          $ref: '#/components/schemas/InstructionIdentification'
        endToEndIdentification:
          $ref: '#/components/schemas/EndToEndIdentification'
        localInstrument:
          $ref: '#/components/schemas/LocalInstrument'
        amount:
          $ref: '#/components/schemas/Amount'
        currency:
          $ref: '#/components/schemas/Currency'
        requestedExecutionDate:
          $ref: '#/components/schemas/RequestedExecutionDate'
        debtor:
          $ref: '#/components/schemas/OBDebtor'
        creditor:
          $ref: '#/components/schemas/OBCreditorTax'
        remmitanceInformation:
          $ref: '#/components/schemas/OBRemmitanceInformationTax'
        taxRemmitance:
          $ref: '#/components/schemas/OBTaxRemmitance'
        supplementaryData:
          $ref: '#/components/schemas/OBSupplementaryData'
    OBInitiationTaxReq:
      required:
        - instructionIdentification
        - endToEndIdentification
        - localInstrument
        - amount
        - currency
        - requestedExecutionDate
        - creditor
        - debtor
        - taxRemmitance
      type: object
      properties:
        instructionIdentification:
          $ref: '#/components/schemas/InstructionIdentification'
        endToEndIdentification:
          $ref: '#/components/schemas/EndToEndIdentification'
        localInstrument:
          $ref: '#/components/schemas/LocalInstrument'
        amount:
          $ref: '#/components/schemas/Amount'
        currency:
          $ref: '#/components/schemas/Currency'
        requestedExecutionDate:
          $ref: '#/components/schemas/RequestedExecutionDate'
        debtor:
          $ref: '#/components/schemas/OBDebtor'
        creditor:
          $ref: '#/components/schemas/OBCreditorTax'
        remmitanceInformation:
          $ref: '#/components/schemas/OBRemmitanceInformationTax'
        taxRemmitance:
          $ref: '#/components/schemas/OBTaxRemmitance'
        enclosedFile:
          $ref: '#/components/schemas/OBEnclosedFileTax'
        supplementaryData:
          $ref: '#/components/schemas/OBSupplementaryData'
    OBDataDomestic:
      type: object
      required:
        - Initiation
      properties:
        Initiation:
          $ref: '#/components/schemas/OBInitiationDomestic'
        Authorisation:
          $ref: '#/components/schemas/OBAuthorisation'
    OBDataVRP:
      type: object
      required:
        - Initiation
        - ControlParameters
      properties:
        ControlParameters:
          $ref: '#/components/schemas/OBControlParameters'
        Initiation:
          $ref: '#/components/schemas/OBInitiationVRP'
    OBDataReq:
      type: object
      required:
        - Initiation
      properties:
        Initiation:
          $ref: '#/components/schemas/OBInitiationReq'
        Authorisation:
          $ref: '#/components/schemas/OBAuthorisation'
    OBDataListAccounts:
      type: object
      required:
        - Initiation
      properties:
        Initiation:
          $ref: '#/components/schemas/OBInitiationListAccounts'
        Authorisation:
          $ref: '#/components/schemas/OBAuthorisation'
    OBDataListPassports:
      type: object
      required:
        - Initiation
      properties:
        Initiation:
          $ref: '#/components/schemas/OBInitiationListPassports'
        Authorisation:
          $ref: '#/components/schemas/OBAuthorisation'
    OBInitiationDomestic:
      required:
        - instructionIdentification
        - endToEndIdentification
        - localInstrument
        - amount
        - currency
        - requestedExecutionDate
        - creditor
      type: object
      properties:
        instructionIdentification:
          $ref: '#/components/schemas/InstructionIdentification'
        endToEndIdentification:
          $ref: '#/components/schemas/EndToEndIdentification'
        localInstrument:
          $ref: '#/components/schemas/LocalInstrument'
        amount:
          $ref: '#/components/schemas/Amount'
        currency:
          $ref: '#/components/schemas/Currency'
        requestedExecutionDate:
          $ref: '#/components/schemas/RequestedExecutionDate'
        debtor:
          $ref: '#/components/schemas/OBDebtor'
        creditor:
          $ref: '#/components/schemas/OBCreditor'
        remmitanceInformation:
          $ref: '#/components/schemas/OBRemmitanceInformation'
        supplementaryData:
          $ref: '#/components/schemas/OBSupplementaryData'
    OBInstruction:
      required:
        - instructionIdentification
        - endToEndIdentification
        - localInstrument
        - amount
        - currency
        - creditor
      type: object
      properties:
        instructionIdentification:
          $ref: '#/components/schemas/InstructionIdentification'
        endToEndIdentification:
          $ref: '#/components/schemas/EndToEndIdentification'
        localInstrument:
          $ref: '#/components/schemas/LocalInstrument'
        amount:
          $ref: '#/components/schemas/Amount'
        currency:
          $ref: '#/components/schemas/Currency'
        creditor:
          $ref: '#/components/schemas/OBCreditor'
        remmitanceInformation:
          $ref: '#/components/schemas/OBRemmitanceInformation'
        supplementaryData:
          $ref: '#/components/schemas/OBSupplementaryData'
    OBInitiationVRP:
      required:
        - creditor
      type: object
      properties:
        amount:
          $ref: '#/components/schemas/Amount'
        currency:
          $ref: '#/components/schemas/Currency'
        debtor:
          $ref: '#/components/schemas/OBDebtor'
        creditor:
          $ref: '#/components/schemas/OBCreditor'
        remmitanceInformation:
          $ref: '#/components/schemas/OBRemmitanceInformation'
    OBControlParameters:
      required:
        - creditor
      type: object
      properties:
        fromPaymentDate:
          $ref: '#/components/schemas/FromPaymentDate'
        toPaymentDate:
          $ref: '#/components/schemas/ToPaymentDate'
        maximumIndividualAmount:
          $ref: '#/components/schemas/MaximumIndividualAmount'
        currency:
          $ref: '#/components/schemas/Currency'
        periodicLimits:
          $ref: '#/components/schemas/OBPeriodicLimits'
        supplementaryData:
          $ref: '#/components/schemas/OBSupplementaryData'
    MaximumIndividualAmount:
      type: string
      pattern: '^[0-9]{1,13}$|^[0-9]{1,13}.[0-9]{1,5}$|^[0-9]{1,13}.[0-9]{1,2}$'
      description: 'Максимальная единовременная сумма, которая может быть указана в платежной инструкции в соответствии с платежным указанием'
      example: '2800.00'
    FromPaymentDate:
      type: string
      format: date
      description: 'Дата начала действия платежного указания включительно'
      example: '2021-04-20'
    ToPaymentDate:
      type: string
      format: date
      description: 'Дата, в которую денежные средства должны быть списаны со счета(-ов) плательщика'
      example: '2021-05-20'
    OBPeriodicLimits:
      type: array
      items:
        required:
          - amount
          - currency
          - periodType
        type: object
        properties:
          amount:
            $ref: '#/components/schemas/AmountPeriodicLimits'
          currency:
            $ref: '#/components/schemas/Currency'
          periodType:
            $ref: '#/components/schemas/PeriodType'
    AmountPeriodicLimits:
      type: string
      pattern: '^[0-9]{1,13}$|^[0-9]{1,13}.[0-9]{1,5}$'
      description: 'Лимит суммы рекуррентного платежа за определенный период'
      example: '28000.00'
    PeriodType:
      type: string
      maxLength: 10
      minLength: 1
      description: 'Тип периода'
      enum:
        - Day
        - Week
        - Month
        - Quarter
        - Half-year
        - Year
      example: 'Month'
    OBInitiationReq:
      required:
        - instructionIdentification
        - endToEndIdentification
        - localInstrument
        - amount
        - currency
        - requestedExecutionDate
        - creditor
        - debtor
      type: object
      properties:
        instructionIdentification:
          $ref: '#/components/schemas/InstructionIdentification'
        endToEndIdentification:
          $ref: '#/components/schemas/EndToEndIdentification'
        localInstrument:
          $ref: '#/components/schemas/LocalInstrument'
        amount:
          $ref: '#/components/schemas/Amount'
        currency:
          $ref: '#/components/schemas/Currency'
        requestedExecutionDate:
          $ref: '#/components/schemas/RequestedExecutionDate'
        debtor:
          $ref: '#/components/schemas/OBDebtor'
        creditor:
          $ref: '#/components/schemas/OBCreditor'
        remmitanceInformation:
          $ref: '#/components/schemas/OBRemmitanceInformation'
        enclosedFile:
          $ref: '#/components/schemas/OBEnclosedFile'
        supplementaryData:
          $ref: '#/components/schemas/OBSupplementaryData'
    OBInitiationListAccounts:
      required:
        - instructionIdentification
        - endToEndIdentification
        - localInstrument
        - amount
        - currency
        - requestedExecutionDate
        - creditor
        - listAccounts
      type: object
      properties:
        instructionIdentification:
          $ref: '#/components/schemas/InstructionIdentification'
        endToEndIdentification:
          $ref: '#/components/schemas/EndToEndIdentification'
        localInstrument:
          $ref: '#/components/schemas/LocalInstrument'
        amount:
          $ref: '#/components/schemas/Amount'
        currency:
          $ref: '#/components/schemas/Currency'
        requestedExecutionDate:
          $ref: '#/components/schemas/RequestedExecutionDate'
        debtor:
          $ref: '#/components/schemas/OBDebtor'
        creditor:
          $ref: '#/components/schemas/OBCreditorList'
        listAccounts:
          $ref: '#/components/schemas/OBListAccounts'
        remmitanceInformation:
          $ref: '#/components/schemas/OBRemmitanceInformationList'
        supplementaryData:
          $ref: '#/components/schemas/OBSupplementaryData'
    OBInitiationListPassports:
      required:
        - instructionIdentification
        - endToEndIdentification
        - localInstrument
        - amount
        - currency
        - requestedExecutionDate
        - creditor
        - listPassportData
      type: object
      properties:
        instructionIdentification:
          $ref: '#/components/schemas/InstructionIdentification'
        endToEndIdentification:
          $ref: '#/components/schemas/EndToEndIdentification'
        localInstrument:
          $ref: '#/components/schemas/LocalInstrument'
        amount:
          $ref: '#/components/schemas/Amount'
        currency:
          $ref: '#/components/schemas/Currency'
        requestedExecutionDate:
          $ref: '#/components/schemas/RequestedExecutionDate'
        debtor:
          $ref: '#/components/schemas/OBDebtor'
        creditor:
          $ref: '#/components/schemas/OBCreditorList'
        listPassportData:
          $ref: '#/components/schemas/OBListPassportData'
        remmitanceInformation:
          $ref: '#/components/schemas/OBRemmitanceInformationListPassport'
        supplementaryData:
          $ref: '#/components/schemas/OBSupplementaryData'
    OBRisk:
      type: object
      properties:
        paymentContextCode:
          $ref: '#/components/schemas/PaymentContextCode'
        merchantCategoryCode:
          $ref: '#/components/schemas/MerchantCategoryCode'
        merchantCustomerIdentification:
          $ref: '#/components/schemas/MerchantCustomerIdentification'
        postalAddress:
          $ref: '#/components/schemas/OBPostalAddress'
    PaymentContextCode:
      type: string
      maxLength: 35
      minLength: 1
      description: 'Код платежа из справочника PaymentContextStaticType. Коды инициирования платежа'
      example: 'PartyToParty'
    MerchantCategoryCode:
      type: string
      maxLength: 4
      minLength: 3
      description: 'Код категории, связанный с типом услуг или товаров, которые продавец предоставляет для транзакции. Используется согласно ISO 18245. Рекомендуется заполнять в платежах с кодом платежа EcommerceGoods и EcommerceServices'
    MerchantCustomerIdentification:
      type: string
      maxLength: 35
      minLength: 1
      description: 'Уникальный идентификатор покупателя, который продавец присвоил Клиенту. Рекомендуется заполнять в платежах с кодом платежа EcommerceGoods и EcommerceServices'
    OBPostalAddress:
      type: object
      required:
        - country
        - townName
      description: 'Информация, которая позволяет найти и идентифицирует конкретный адрес в формате, устанавливаемом почтовыми службами . Рекомендуется заполнять в платежах с кодом платежа EcommerceGoods'
      properties:
        country:
          $ref: '#/components/schemas/Country'
        countrySubDivision:
          $ref: '#/components/schemas/CountrySubDivision'
        townName:
          $ref: '#/components/schemas/TownName'
        townLocationName:
          $ref: '#/components/schemas/TownLocationName'
        postCode:
          $ref: '#/components/schemas/PostCode'
        streetName:
          $ref: '#/components/schemas/StreetName'
        buildingNumber:
          $ref: '#/components/schemas/BuildingNumber'
        addressLine:
          $ref: '#/components/schemas/AddressLine'
    Country:
      type: string
      pattern: '^[A-Z]{2}$'
      description: 'Страна'
    CountrySubDivision:
      type: string
      maxLength: 35
      minLength: 1
      description: 'Регион/область страны'
    TownName:
      type: string
      maxLength: 35
      minLength: 1
      description: 'Название населенного пункта, согласно Единому реестру административно-территориальных и территориальных единиц Республики Беларусь с указанием типа населенного пункта (согласно справочнику N091) ) перед его названием через пробел'
    TownLocationName:
      type: string
      maxLength: 35
      minLength: 1
      description: 'Конкретное наименование места в населенном пункте. Используется при необходимости для указания кода СОАТО в соответствии с ОКРБ 003-2017 ”Система обозначений объектов административно-территориального деления и населенных пунктов“ и согласно справочнику N058'
    PostCode:
      type: string
      maxLength: 16
      minLength: 1
      description: 'Почтовый индекс'
    StreetName:
      type: string
      maxLength: 70
      minLength: 1
      description: 'Наименование улицы, согласно Реестру наименований улиц и дорог Национального кадастрового агентства с указанием типа элемента улично-дорожной сети (согласно справочнику N098) перед его названием через пробел'
    BuildingNumber:
      type: string
      maxLength: 16
      minLength: 1
      description: 'Номер дома'
    AddressLine:
      type: string
      maxLength: 70
      minLength: 1
      description: 'Информация, которая позволяет найти и идентифицирует конкретный адрес в соответствии с данными почтовых служб, в произвольном текстовом формате'
    OBDataDomesticResp:
      type: object
      required:
        - Initiation
        - domesticConsentId
        - link
        - creationDateTime
        - status
        - statusUpdateDateTime
      properties:
        domesticConsentId:
          $ref: '#/components/schemas/DomesticConsentId'
        link:
          $ref: '#/components/schemas/Link'
        creationDateTime:
          $ref: '#/components/schemas/CreationDateTime'
        status:
          $ref: '#/components/schemas/PaymentConsentStatus'
        statusUpdateDateTime:
          $ref: '#/components/schemas/StatusUpdateDateTime'
        cutOffDateTime:
          $ref: '#/components/schemas/CutOffDateTime'
        expectedExecutionDate:
          $ref: '#/components/schemas/ExpectedExecutionDate'
        expectedSettlementDate:
          $ref: '#/components/schemas/ExpectedSettlementDate'
        Initiation:
          $ref: '#/components/schemas/OBInitiationDomestic'
        Authorisation:
          $ref: '#/components/schemas/OBAuthorisation'
        Charge:
          $ref: '#/components/schemas/OBCharge'
    OBDataVRPResp:
      type: object
      required:
        - ControlParameters
        - Initiation
        - VRPConsentId
        - link
        - creationDateTime
        - status
        - statusUpdateDateTime
      properties:
        VRPConsentId:
          $ref: '#/components/schemas/VRPConsentId'
        link:
          $ref: '#/components/schemas/Link'
        creationDateTime:
          $ref: '#/components/schemas/CreationDateTime'
        status:
          $ref: '#/components/schemas/PaymentConsentStatus'
        statusUpdateDateTime:
          $ref: '#/components/schemas/StatusUpdateDateTime'
        ControlParameters:
          $ref: '#/components/schemas/OBControlParameters'
        Initiation:
          $ref: '#/components/schemas/OBInitiationVRP'
    OBDataReqResp:
      type: object
      required:
        - Initiation
        - requirementConsentId
        - link
        - creationDateTime
        - status
        - statusUpdateDateTime
      properties:
        requirementConsentId:
          $ref: '#/components/schemas/RequirementConsentId'
        link:
          $ref: '#/components/schemas/Link'
        creationDateTime:
          $ref: '#/components/schemas/CreationDateTime'
        status:
          $ref: '#/components/schemas/PaymentConsentStatus'
        statusUpdateDateTime:
          $ref: '#/components/schemas/StatusUpdateDateTime'
        cutOffDateTime:
          $ref: '#/components/schemas/CutOffDateTime'
        expectedExecutionDate:
          $ref: '#/components/schemas/ExpectedExecutionDate'
        expectedSettlementDate:
          $ref: '#/components/schemas/ExpectedSettlementDate'
        Initiation:
          $ref: '#/components/schemas/OBInitiationReq'
        Authorisation:
          $ref: '#/components/schemas/OBAuthorisation'
        Charge:
          $ref: '#/components/schemas/OBCharge'
    OBDataListAccountsResp:
      type: object
      required:
        - Initiation
        - listAccountsConsentId
        - link
        - creationDateTime
        - status
        - statusUpdateDateTime
      properties:
        listAccountsConsentId:
          $ref: '#/components/schemas/ListAccountsConsentId'
        link:
          $ref: '#/components/schemas/Link'
        creationDateTime:
          $ref: '#/components/schemas/CreationDateTime'
        status:
          $ref: '#/components/schemas/PaymentConsentStatus'
        statusUpdateDateTime:
          $ref: '#/components/schemas/StatusUpdateDateTime'
        cutOffDateTime:
          $ref: '#/components/schemas/CutOffDateTime'
        expectedExecutionDate:
          $ref: '#/components/schemas/ExpectedExecutionDate'
        expectedSettlementDate:
          $ref: '#/components/schemas/ExpectedSettlementDate'
        Initiation:
          $ref: '#/components/schemas/OBInitiationListAccounts'
        Authorisation:
          $ref: '#/components/schemas/OBAuthorisation'
        Charge:
          $ref: '#/components/schemas/OBCharge'
    OBDataListPassportsResp:
      type: object
      required:
        - Initiation
        - listPassportsConsentId
        - link
        - creationDateTime
        - status
        - statusUpdateDateTime
      properties:
        listPassportsConsentId:
          $ref: '#/components/schemas/ListPassportsConsentId'
        link:
          $ref: '#/components/schemas/Link'
        creationDateTime:
          $ref: '#/components/schemas/CreationDateTime'
        status:
          $ref: '#/components/schemas/PaymentConsentStatus'
        statusUpdateDateTime:
          $ref: '#/components/schemas/StatusUpdateDateTime'
        cutOffDateTime:
          $ref: '#/components/schemas/CutOffDateTime'
        expectedExecutionDate:
          $ref: '#/components/schemas/ExpectedExecutionDate'
        expectedSettlementDate:
          $ref: '#/components/schemas/ExpectedSettlementDate'
        Initiation:
          $ref: '#/components/schemas/OBInitiationListPassports'
        Authorisation:
          $ref: '#/components/schemas/OBAuthorisation'
        Charge:
          $ref: '#/components/schemas/OBCharge'
    OBDataDomesticResp1:
      type: object
      required:
        - Initiation
        - domesticConsentId
        - link
        - creationDateTime
        - status
        - statusUpdateDateTime
      properties:
        domesticConsentId:
          $ref: '#/components/schemas/DomesticConsentId'
        link:
          $ref: '#/components/schemas/Link'
        creationDateTime:
          $ref: '#/components/schemas/CreationDateTime'
        status:
          $ref: '#/components/schemas/PaymentConsentStatus'
        statusUpdateDateTime:
          $ref: '#/components/schemas/StatusUpdateDateTime'
        cutOffDateTime:
          $ref: '#/components/schemas/CutOffDateTime'
        expectedExecutionDate:
          $ref: '#/components/schemas/ExpectedExecutionDate'
        expectedSettlementDate:
          $ref: '#/components/schemas/ExpectedSettlementDate'
        Initiation:
          $ref: '#/components/schemas/OBInitiationDomestic'
        Authorisation:
          $ref: '#/components/schemas/OBAuthorisation'
        Charge:
          $ref: '#/components/schemas/OBCharge'
    OBDataVRPResp1:
      type: object
      required:
        - ControlParameters
        - Initiation
        - VRPConsentId
        - link
        - creationDateTime
        - status
        - statusUpdateDateTime
      properties:
        VRPConsentId:
          $ref: '#/components/schemas/VRPConsentId'
        link:
          $ref: '#/components/schemas/Link'
        creationDateTime:
          $ref: '#/components/schemas/CreationDateTime'
        status:
          $ref: '#/components/schemas/PaymentConsentStatus'
        statusUpdateDateTime:
          $ref: '#/components/schemas/StatusUpdateDateTime'
        ControlParameters:
          $ref: '#/components/schemas/OBControlParameters'
        Initiation:
          $ref: '#/components/schemas/OBInitiationDomestic'
    OBDataReqResp1:
      type: object
      required:
        - Initiation
        - requirementConsentId
        - link
        - creationDateTime
        - status
        - statusUpdateDateTime
      properties:
        requirementConsentId:
          $ref: '#/components/schemas/RequirementConsentId'
        link:
          $ref: '#/components/schemas/Link'
        creationDateTime:
          $ref: '#/components/schemas/CreationDateTime'
        status:
          $ref: '#/components/schemas/PaymentConsentStatus'
        statusUpdateDateTime:
          $ref: '#/components/schemas/StatusUpdateDateTime'
        cutOffDateTime:
          $ref: '#/components/schemas/CutOffDateTime'
        expectedExecutionDate:
          $ref: '#/components/schemas/ExpectedExecutionDate'
        expectedSettlementDate:
          $ref: '#/components/schemas/ExpectedSettlementDate'
        Initiation:
          $ref: '#/components/schemas/OBInitiationReq'
        Authorisation:
          $ref: '#/components/schemas/OBAuthorisation'
        Charge:
          $ref: '#/components/schemas/OBCharge'
    OBDataListAccountsResp1:
      type: object
      required:
        - Initiation
        - listAccountsConsentId
        - link
        - creationDateTime
        - status
        - statusUpdateDateTime
      properties:
        listAccountsConsentId:
          $ref: '#/components/schemas/ListAccountsConsentId'
        link:
          $ref: '#/components/schemas/Link'
        creationDateTime:
          $ref: '#/components/schemas/CreationDateTime'
        status:
          $ref: '#/components/schemas/PaymentConsentStatus'
        statusUpdateDateTime:
          $ref: '#/components/schemas/StatusUpdateDateTime'
        cutOffDateTime:
          $ref: '#/components/schemas/CutOffDateTime'
        expectedExecutionDate:
          $ref: '#/components/schemas/ExpectedExecutionDate'
        expectedSettlementDate:
          $ref: '#/components/schemas/ExpectedSettlementDate'
        Initiation:
          $ref: '#/components/schemas/OBInitiationListAccounts'
        Authorisation:
          $ref: '#/components/schemas/OBAuthorisation'
        Charge:
          $ref: '#/components/schemas/OBCharge'
    OBDataListPassportsResp1:
      type: object
      required:
        - Initiation
        - listPassportsConsentId
        - link
        - creationDateTime
        - status
        - statusUpdateDateTime
      properties:
        listAccountsConsentId:
          $ref: '#/components/schemas/ListAccountsConsentId'
        link:
[...]
